@model AccountIndexViewModel
@{
    ViewData["Title"] = "Your Account";
}

<h1>@ViewData["Title"]</h1>

<div><img src="https://www.gravatar.com/avatar/@Model.EmailMD5Hash?s=128&r=pg&d=identicon" class="gaepd-avatar" alt="Account image" /></div>

<table class="gaepd-table-compact gaepd-table-rowheadings">
    <tbody>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.FullName)</th>
            <td>@Html.DisplayFor(m => m.FullName)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Email)</th>
            <td>@Html.DisplayFor(m => m.Email)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.Phone)</th>
            <td>@Html.DisplayFor(m => m.Phone)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.OfficeName)</th>
            <td>@Html.DisplayFor(m => m.OfficeName)</td>
        </tr>
        @if (Model.CtsRoles.Count() != 0)
        {
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.CtsRoles)</th>
                <td>
                    <ul class="usa-unstyled-list">
                        @Html.DisplayFor(m => m.CtsRoles)
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <div class="gaepd-buttonrow">
            <a asp-action="Edit" class="usa-button usa-button-outline">Edit</a>
            <a asp-action="ChangePassword" class="usa-button usa-button-outline">Change password</a>
            <button type="submit" aria-label="Sign out" class="usa-button-secondary">Sign out</button>
        </div>
    </form>
</div>
