@page "{id:int?}"
@using Cts.AppServices.Attachments
@using Cts.AppServices.Complaints.Permissions
@using Cts.WebApp.Pages.Shared.DisplayTemplates
@using Cts.WebApp.Pages.Shared.EditorTemplates
@using Cts.WebApp.Platform.Constants
@using GaEpd.AppLibrary.Extensions
@model DetailsModel
@{
    ViewData["Title"] = $"Complaint ID {Model.ComplaintView.Id.ToString()}";
    var alertClass = Model.ComplaintView.ComplaintClosed ? "alert-secondary" : "alert-info";
}

@* TODO: Remove when complaint actions have all been implemented: *@
@* ReSharper disable Mvc.ActionNotResolved *@

<div class="container-full">
    <div class="row justify-content-between align-items-baseline g-0 my-1">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
        @if (Model.ComplaintView.IsPublic)
        {
            <div class="col-auto d-print-none ms-2">
                <a asp-page="/Public/Complaints/Index" asp-route-id="@Model.ComplaintView.Id.ToString()" class="link-offset-2">📢 View public copy</a>
            </div>
        }
    </div>
</div>

@if (Model.ComplaintView.IsDeleted) // implies `ComplaintOperation.ManageDeletions`
{
    <div class="bg-danger-subtle border border-danger-subtle p-2 rounded mb-3">
        <div class="container-full">
            <div class="row justify-content-between align-items-start g-0 my-1">
                <div class="col">
                    <h2 class="text-danger-emphasis">Complaint Has Been Deleted</h2>
                </div>
                <div class="col-auto d-print-none ms-2">
                    <a asp-page="Restore" asp-route-id="@Model.ComplaintView.Id.ToString()" class="btn btn-outline-warning">Restore deleted complaint</a>
                </div>
            </div>
        </div>

        <div class="container">
            <dl class="row">
                <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.DeletedBy)</dt>
                <dd class="col-sm-8 col-lg-9">
                    @Html.DisplayFor(model => model.ComplaintView.DeletedBy, DisplayTemplate.NameOrNotEntered)
                    on @Html.DisplayFor(model => model.ComplaintView.DeletedAt, DisplayTemplate.LongDateTimeOrNotEntered)
                </dd>
                <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.DeleteComments)</dt>
                <dd class="col-sm-8 col-lg-9 text-break text-pre-line">@Model.ComplaintView.DeleteComments</dd>
            </dl>
        </div>
    </div>
}

@if (Model.UserCan[ComplaintOperation.ViewAsOwner])
{
    <div class="alert @alertClass" role="alert">
        This Complaint was assigned to you on @Html.DisplayFor(model => model.ComplaintView.CurrentOwnerAssignedDate, DisplayTemplate.LongDateTimeOrNotEntered).
        @if (Model.ComplaintView.CurrentOwnerAcceptedDate != null)
        {
            <br />
            @:You accepted it on @Html.DisplayFor(model => model.ComplaintView.CurrentOwnerAcceptedDate, DisplayTemplate.LongDateTimeOrNotEntered).
        }
    </div>
}

@if (!Model.ComplaintView.IsDeleted)
{
    <div class="d-print-none mb-3">
        @if (Model.UserCan[ComplaintOperation.EditDetails])
        {
            <a asp-page="Edit" asp-route-id="@Model.ComplaintView.Id.ToString()" class="btn btn-outline-primary me-2">Edit details</a>
        }
        @if (Model.UserCan[ComplaintOperation.ManageDeletions])
        {
            <a asp-page="Delete" asp-route-id="@Model.ComplaintView.Id.ToString()" class="btn btn-outline-danger me-2">Delete</a>
        }
    </div>
}

<h2 id="status">Status: <em class="text-brand">@Model.ComplaintView.Status.GetDisplayName()</em></h2>

<div class="d-print-none mb-2">
    @if (Model.UserCan[ComplaintOperation.Accept])
    {
        <form asp-action="Accept">
            <button id="AcceptSubmitButton" type="submit" class="btn btn-primary me-2">Accept</button>
            @Html.HiddenFor(model => model.ComplaintView.Id)
        </form>
    }
    @if (Model.UserCan[ComplaintOperation.Review])
    {
        <a asp-action="Approve" asp-route-id="@Model.ComplaintView.Id.ToString()" class="btn btn-outline-primary me-2">Close Complaint (approved)</a>
        <a asp-action="Return" asp-route-id="@Model.ComplaintView.Id.ToString()" class="btn btn-outline-primary me-2">Return to staff (not approved)</a>
    }
    @if (Model.UserCan[ComplaintOperation.Assign])
    {
        <a asp-action="Assign" asp-route-id="@Model.ComplaintView.Id.ToString()" class="btn btn-outline-primary me-2">Assign</a>
    }
    @if (Model.UserCan[ComplaintOperation.RequestReview])
    {
        <a asp-action="RequestReview" asp-route-id="@Model.ComplaintView.Id.ToString()" class="btn btn-outline-primary me-2">Submit for review</a>
    }
    @if (Model.UserCan[ComplaintOperation.Reassign])
    {
        <a asp-action="Assign" asp-route-id="@Model.ComplaintView.Id.ToString()" class="btn btn-outline-primary me-2">Transfer/reassign</a>
    }
    @if (Model.UserCan[ComplaintOperation.Reopen])
    {
        <a asp-action="Reopen" asp-route-id="@Model.ComplaintView.Id.ToString()" class="btn btn-outline-primary me-2">Reopen</a>
    }
</div>

<div class="container">
    <dl class="row">
        @if (Model.ComplaintView.ComplaintClosed)
        {
            <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.ReviewedBy)</dt>
            <dd class="col-sm-8 col-lg-9">
                @Html.DisplayFor(model => model.ComplaintView.ReviewedBy, DisplayTemplate.NameOrNotEntered)
                on @Html.DisplayFor(model => model.ComplaintView.ComplaintClosedDate, DisplayTemplate.LongDateTimeOrNotEntered)
            </dd>
            <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.ReviewComments)</dt>
            <dd class="col-sm-8 col-lg-9 text-break text-pre-line">@Model.ComplaintView.ReviewComments</dd>
        }

        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.CurrentOffice)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.CurrentOfficeName, DisplayTemplate.StringOrNotEntered)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.CurrentOwner)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.CurrentOwner, DisplayTemplate.NameOrNotEntered)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.ReceivedDate)</dt>
        <dd class="col-sm-8 col-lg-9">
            @Html.DisplayFor(model => model.ComplaintView.ReceivedDate, DisplayTemplate.LongDateTime)
        </dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.CurrentOwnerAssignedDate)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.CurrentOwnerAssignedDate, DisplayTemplate.LongDateTimeOrNotEntered)</dd>
    </dl>
</div>

<h2 class="h3">Nature of Complaint</h2>

<p class="container text-break text-pre-line">@Html.DisplayFor(_ => Model.ComplaintView.ComplaintNature, DisplayTemplate.StringOrNotEntered)</p>

<div class="container">
    <dl class="row">
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.PrimaryConcernName)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.PrimaryConcernName, DisplayTemplate.StringOrNotEntered)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.SecondaryConcernName)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.SecondaryConcernName, DisplayTemplate.StringOrNotEntered)</dd>
    </dl>
</div>

<h2 class="h3">Caller</h2>

<div class="container">
    <dl class="row">
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.CallerName)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.CallerName, DisplayTemplate.StringOrNotEntered)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.CallerRepresents)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.CallerRepresents, DisplayTemplate.StringOrNotEntered)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.CallerAddress)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.CallerAddress)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.CallerPhoneNumber)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.CallerPhoneNumber)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.CallerSecondaryPhoneNumber)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.CallerSecondaryPhoneNumber)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.CallerTertiaryPhoneNumber)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.CallerTertiaryPhoneNumber)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.CallerEmail)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.CallerEmail, DisplayTemplate.StringOrNotEntered)</dd>
    </dl>
</div>

<h2 class="h3">Complaint Location</h2>

<div class="container">
    <dl class="row">
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.ComplaintLocation)</dt>
        <dd class="col-sm-8 col-lg-9 text-break text-pre-line">@Html.DisplayFor(model => model.ComplaintView.ComplaintLocation, DisplayTemplate.StringOrNotEntered)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.ComplaintDirections)</dt>
        <dd class="col-sm-8 col-lg-9 text-break text-pre-line">@Html.DisplayFor(model => model.ComplaintView.ComplaintDirections, DisplayTemplate.StringOrNotEntered)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.ComplaintCity)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.ComplaintCity, DisplayTemplate.StringOrNotEntered)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.ComplaintCounty)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.ComplaintCounty, DisplayTemplate.County)</dd>
    </dl>
</div>

<h2 class="h3">Source</h2>

<div class="container">
    <dl class="row">
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.SourceFacilityName)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.SourceFacilityName, DisplayTemplate.StringOrNotEntered)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.SourceFacilityIdNumber)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.SourceFacilityIdNumber, DisplayTemplate.StringOrNotEntered)</dd>
    </dl>
</div>

<h2 class="h3">Source Contact</h2>

<div class="container">
    <dl class="row">
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.SourceContactName)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.SourceContactName, DisplayTemplate.StringOrNotEntered)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.SourceAddress)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.SourceAddress)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.SourcePhoneNumber)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.SourcePhoneNumber)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.SourceSecondaryPhoneNumber)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.SourceSecondaryPhoneNumber)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.SourceTertiaryPhoneNumber)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.SourceTertiaryPhoneNumber)</dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.SourceEmail)</dt>
        <dd class="col-sm-8 col-lg-9">@Html.DisplayFor(model => model.ComplaintView.SourceEmail, DisplayTemplate.StringOrNotEntered)</dd>
    </dl>
</div>

<h2 class="h3">Actions</h2>

@if (!Model.ViewableComplaintActions)
{
    <p>
        <em>None.</em>
    </p>
}

@if (Model.UserCan[ComplaintOperation.EditActions])
{
    <div class="container bg-light-subtle border border-primary-subtle rounded-1 my-3 py-2 d-print-none">
        <h3 id="new-action" class="h5">Add An Action Item</h3>

        <form method="post" asp-page-handler="NewAction">
            <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    @Html.EditorFor(e => e.NewAction.ActionDate, EditorTemplate.InputDateOnlyNullable)
                </div>
                <div class="col-md-8 mb-3">
                    @Html.EditorFor(e => e.NewAction.Investigator, EditorTemplate.Input)
                </div>
            </div>
            <div class="row">
                <div class="mb-3">
                    @Html.EditorFor(e => e.NewAction.ActionTypeId, EditorTemplate.Select, new { Items = Model.ActionItemTypeSelectList })
                </div>
            </div>
            <div class="row">
                <div class="mb-3">
                    @Html.EditorFor(e => e.NewAction.Comments, EditorTemplate.Textarea, new { Rows = 3 })
                </div>
            </div>

            <button type="submit" class="btn btn-primary col-6 col-sm-4 col-lg-3 mb-1 me-2">Save Action</button>
            <div class="text-danger-emphasis">* denotes a required field</div>
            <input asp-for="NewAction.ComplaintId" type="hidden" />
        </form>
    </div>
}

@if (Model.ViewableComplaintActions)
{
    <div class="row row-cols-1 g-3 mb-3">
        @foreach (var action in Model.ComplaintView.ComplaintActions.Where(action => !action.IsDeleted || Model.UserCan[ComplaintOperation.ViewDeletedActions]))
        {
            <div class="col">
                <div class="card @(action.Id == Model.HighlightId ? "border-success" : "") @(action.IsDeleted ? "bg-secondary-subtle" : "")">
                    <div class="card-header">
                        <div class="container-full">
                            <div class="row justify-content-between align-items-start g-0 my-1">
                                <div class="col">
                                    <h3 id="@action.Id.ToString()" class="h5 card-title">
                                        @if (action.IsDeleted)
                                        {
                                            <em class="text-body-secondary">(Deleted Action)</em>
                                        }
                                        @action.ActionTypeName
                                    </h3>
                                    <h4 class="h5 card-subtitle text-body-secondary">
                                        @Html.DisplayFor(_ => action.ActionDate, DisplayTemplate.DateOnlyOrNotEntered)
                                        @if (!string.IsNullOrWhiteSpace(action.Investigator))
                                        {
                                            @:by @Html.DisplayFor(_ => action.Investigator)
                                        }
                                    </h4>
                                </div>
                                @if (Model.UserCan[ComplaintOperation.EditActions])
                                {
                                    <div class="col-auto d-print-none ms-2">
                                        @if (!action.IsDeleted)
                                        {
                                            <a asp-page="EditAction" asp-route-actionId="@action.Id.ToString()" class="btn btn-sm btn-outline-primary">Edit</a>
                                            <a asp-page="DeleteAction" asp-route-actionId="@action.Id.ToString()" class="btn btn-sm btn-outline-danger ms-1">Delete</a>
                                        }
                                        else if (Model.UserCan[ComplaintOperation.ManageDeletedActions])
                                        {
                                            <a asp-page="RestoreAction" asp-route-actionId="@action.Id.ToString()" class="btn btn-sm btn-outline-warning ms-1">Restore</a>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="card-body ">
                        <div class="text-break text-pre-line">@Html.DisplayFor(_ => action.Comments, DisplayTemplate.StringOrNone)</div>
                    </div>
                    @if (action.EnteredBy is not null || action.EnteredDate is not null)
                    {
                        <small class="card-footer text-body-secondary">
                            Entered
                            @if (action.EnteredBy is not null)
                            {
                                <text>by @action.EnteredBy.Name</text>
                            }
                            @if (action.EnteredDate is not null)
                            {
                                <text> on @Html.DisplayFor(_ => action.EnteredDate.Value, DisplayTemplate.ShortDate)</text>
                            }
                        </small>
                    }
                    @if (action.DeletedBy is not null || action.DeletedAt is not null)
                    {
                        <small class="card-footer text-body-secondary">
                            Deleted
                            @if (action.DeletedBy is not null)
                            {
                                <text>by @action.DeletedBy.Name</text>
                            }
                            @if (action.DeletedAt is not null)
                            {
                                <text> on @Html.DisplayFor(_ => action.DeletedAt.Value, DisplayTemplate.ShortDate)</text>
                            }
                        </small>
                    }
                </div>
            </div>
        }
    </div>
}

<h2 class="h3" id="attachments">Attachments</h2>

@if (Model.ComplaintView.Attachments is { Count: > 0 })
{
    <table class="table table-hover align-middle" aria-label="File attachments">
        <thead>
        <tr>
            <th scope="col">File</th>
            <th scope="col">Size</th>
            <th scope="col">Uploaded By</th>
            @if (Model.UserCan[ComplaintOperation.EditAttachments])
            {
                <th scope="col">Actions</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var attachment in Model.ComplaintView.Attachments)
        {
            <tr>
                <td>
                    @if (attachment.IsImage)
                    {
                        <a asp-page="Attachment" asp-route-id="@attachment.Id.ToString()" asp-route-fileName="@attachment.FileName"
                           data-fancybox="attachment" data-caption="@attachment.FileName"
                           target="_blank" class="text-decoration-hover rounded d-block no-external-link">
                            <img src="~/Staff/Complaints/Attachment/@attachment.Id/@Uri.EscapeDataString(attachment.FileName)?thumbnail=true"
                                 class="img-thumbnail rounded me-2" alt="Image "
                                 width="@GlobalConstants.ThumbnailSize.ToString()" height="@GlobalConstants.ThumbnailSize.ToString()" />
                            @attachment.FileName
                        </a>
                    }
                    else
                    {
                        <a asp-page="Attachment" asp-route-id="@attachment.Id.ToString()" asp-route-fileName="@attachment.FileName" target="_blank"
                           class="text-decoration-hover rounded d-block p-2 no-external-link">
                            @Html.DisplayFor(_ => attachment.FileExtension, DisplayTemplate.FileTypeIcon) @attachment.FileName
                        </a>
                    }
                </td>
                <td>@Html.DisplayFor(_ => attachment.Size, DisplayTemplate.FileSize)</td>
                <td>
                    @Html.DisplayFor(_ => attachment.UploadedBy, DisplayTemplate.NameOrNotEntered) <br />
                    on @Html.DisplayFor(_ => attachment.UploadedDate, DisplayTemplate.ShortDateTime)
                </td>
                @if (Model.UserCan[ComplaintOperation.EditAttachments])
                {
                    <td>
                        <a class="btn btn-outline-danger btn-sm" asp-action="DeleteAttachment" asp-route-id="@attachment.Id.ToString()">Delete</a>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>
        <em>None.</em>
    </p>
}

@if (Model.UserCan[ComplaintOperation.EditAttachments])
{
    <div class="container bg-light-subtle border border-primary-subtle rounded-1 my-3 py-2 d-print-none">
        <h3 class="h5">Upload Attachments</h3>
        @if (Model.ComplaintView.ComplaintClosed)
        {
            <p>
                <strong>Be careful! This complaint has already been approved/closed.</strong>
            </p>
        }
        <form method="post" asp-page-handler="UploadFiles" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>

            <div class="row row-cols-sm-auto g-3 align-items-center mb-3 mt-2">
                <div class="col-12">
                    <input class="form-control" type="file" asp-for="NewAttachments.FormFiles" multiple accept="@FileTypes.AcceptFileTypes">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Upload selected files</button>
                </div>
            </div>
            <input asp-for="NewAttachments.ComplaintId" type="hidden" />
        </form>
        <p>
            Up to ten files may be uploaded at a time. Supported file types are images, documents, and spreadsheets.
            All files must comply with the <a href="~/static/Complaint-Attachments-Policy.pdf" target="_blank">EPD Complaint Attachments Policy (<abbr>PDF</abbr>)</a>.
        </p>
    </div>
}


<h2 class="h3">Audit History</h2>

<div class="container">
    <dl class="row small">
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.ReceivedBy)</dt>
        <dd class="col-sm-8 col-lg-9">
            @Html.DisplayFor(model => model.ComplaintView.ReceivedBy, DisplayTemplate.NameOrNotEntered)
            on @Html.DisplayFor(model => model.ComplaintView.ReceivedDate, DisplayTemplate.LongDateTime)
        </dd>
        <dt class="col-sm-4 col-lg-3">@Html.DisplayNameFor(model => model.ComplaintView.EnteredBy)</dt>
        <dd class="col-sm-8 col-lg-9">
            @Html.DisplayFor(model => model.ComplaintView.EnteredBy, DisplayTemplate.NameOrNotEntered)
            on @Html.DisplayFor(model => model.ComplaintView.EnteredDate, DisplayTemplate.LongDateTime)
        </dd>
    </dl>
</div>

@if (Model.ComplaintView.ComplaintTransitions is { Count: > 0 })
{
    <details>
        <summary class="h5 text-secondary mb-2">Show full audit history</summary>
        <table class="table table-sm table-hover small align-top" aria-label="Audit history">
            <thead>
            <tr>
                <th scope="col">Action&nbsp;Date</th>
                <th scope="col">Committed&nbsp;By</th>
                <th scope="col">Action</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Comment</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.ComplaintView.ComplaintTransitions)
            {
                <tr>
                    <td>@Html.DisplayFor(_ => item.CommittedDate, DisplayTemplate.ShortDateTimeNoBreak)</td>
                    <td>@Html.DisplayFor(_ => item.CommittedByUser, DisplayTemplate.NameOrNotEntered)</td>
                    <td>@item.TransitionType.GetDisplayName()</td>
                    <td>
                        @Html.DisplayFor(_ => item.TransferredFromUser, DisplayTemplate.NameOrBlank)
                        @Html.DisplayFor(_ => item.TransferredFromOffice, DisplayTemplate.NameOrBlank)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.TransferredToUser, DisplayTemplate.NameOrBlank)
                        @Html.DisplayFor(_ => item.TransferredToOffice, DisplayTemplate.NameOrBlank)
                    </td>
                    <td class="text-break text-pre-line">@Html.DisplayFor(_ => item.Comment)</td>
                </tr>
            }
            </tbody>
        </table>
    </details>
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
