@page "{handler?}"
@using Cts.AppServices.Complaints.QueryDto
@using Cts.WebApp.Platform.PageModelHelpers
@model IndexModel
@{
    ViewData["Title"] = "Complaint Search";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="p-3 rounded-3 bg-light-subtle border col-lg-9">
            <div class="text-body-secondary pb-2">
                <em>All fields are optional.</em>
            </div>
            <form method="get" asp-page-handler="Search" asp-fragment="SearchResults">
                <h2 class="h4">Status</h2>
                <div class="row">
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <select asp-for="Spec.Status" asp-items="Html.GetEnumSelectList<SearchComplaintStatus>()"
                                    class="form-select">
                                <option value="">@SelectOptions.SelectTextAny</option>
                            </select>
                            <label asp-for="Spec.Status" class="form-label"></label>
                        </div>
                    </div>
                    @if (Model.CanViewDeletedComplaints)
                    {
                        <div class="col-md mb-3">
                            <div class="form-floating">
                                <select asp-for="Spec.DeletedStatus"
                                        asp-items="Html.GetEnumSelectList<SearchDeleteStatus>()" class="form-select">
                                    <option value="">@SelectOptions.SelectNotDeleted</option>
                                </select>
                                <label asp-for="Spec.DeletedStatus" class="form-label"></label>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md mb-3">
                        <label asp-for="Spec.ReceivedFrom" class="form-label px-2 mb-0">Date Complaint Received</label>
                        <div class="input-group">
                            <div class="form-floating">
                                <input asp-for="Spec.ReceivedFrom" class="form-control" />
                                <label asp-for="Spec.ReceivedFrom" class="form-label"></label>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Spec.ReceivedTo" class="form-control" />
                                <label asp-for="Spec.ReceivedTo" class="form-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md mb-3">
                        <label asp-for="Spec.ClosedFrom" class="form-label px-2 mb-0">Date Complaint Closed</label>
                        <div class="input-group">
                            <div class="form-floating">
                                <input asp-for="Spec.ClosedFrom" class="form-control" />
                                <label asp-for="Spec.ClosedFrom" class="form-label"></label>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Spec.ClosedTo" class="form-control" />
                                <label asp-for="Spec.ClosedTo" class="form-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <select asp-for="Spec.ReceivedBy" asp-items="Model.ReceivedBySelectList"
                                    class="form-select">
                                <option value="">@SelectOptions.SelectTextAny</option>
                            </select>
                            <label asp-for="Spec.ReceivedBy" class="form-label"></label>
                        </div>
                    </div>
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <select asp-for="Spec.Attachments" asp-items="Html.GetEnumSelectList<YesNoAny>()"
                                    class="form-select">
                                <option value="">@SelectOptions.SelectTextAny</option>
                            </select>
                            <label asp-for="Spec.Attachments" class="form-label"></label>
                        </div>
                    </div>
                </div>

                <h2 class="h4">Caller</h2>
                <div class="row">
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <input asp-for="Spec.CallerName" class="form-control" />
                            <label asp-for="Spec.CallerName" class="form-label"></label>
                        </div>
                    </div>
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <input asp-for="Spec.Represents" class="form-control" />
                            <label asp-for="Spec.Represents" class="form-label"></label>
                        </div>
                    </div>
                </div>

                <h2 class="h4">Complaint Details</h2>
                <div class="row">
                    <div class="mb-3">
                        <div class="form-floating">
                            <input asp-for="Spec.Description" class="form-control"
                                   aria-describedby="DescriptionHelpBlock" />
                            <label asp-for="Spec.Description" class="form-label"></label>
                        </div>
                        <small id="DescriptionHelpBlock" class="form-text text-body-secondary d-block px-2">
                            (A word or phrase to search for. This will search within the <em>nature,</em>
                            <em>location,</em> and <em>description</em> fields.)
                        </small>
                    </div>
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <input asp-for="Spec.ComplaintCity" class="form-control" />
                            <label asp-for="Spec.ComplaintCity" class="form-label"></label>
                        </div>
                    </div>
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <select asp-for="Spec.County" asp-items="IndexModel.CountiesSelectList" class="form-select">
                                <option value="">@SelectOptions.SelectTextAny</option>
                            </select>
                            <label asp-for="Spec.County" class="form-label"></label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <select asp-for="Spec.Concern" asp-items="Model.ConcernsSelectList" class="form-select"
                                    aria-describedby="ConcernHelpBlock">
                                <option value="">@SelectOptions.SelectTextAny</option>
                            </select>
                            <label asp-for="Spec.Concern" class="form-label"></label>
                        </div>
                        <small id="ConcernHelpBlock" class="form-text text-body-secondary d-block px-2">
                            Searches both primary and secondary areas of concern.
                        </small>
                    </div>
                </div>

                <h2 class="h4">Source</h2>
                <div class="row">
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <input asp-for="Spec.Source" class="form-control" />
                            <label asp-for="Spec.Source" class="form-label"></label>
                        </div>
                    </div>
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <input asp-for="Spec.FacilityIdNumber" class="form-control" />
                            <label asp-for="Spec.FacilityIdNumber" class="form-label"></label>
                        </div>
                    </div>
                </div>

                <h2 class="h4">Source Contact</h2>
                <div class="row">
                    <div class="mb-3">
                        <div class="form-floating">
                            <input asp-for="Spec.Contact" class="form-control" />
                            <label asp-for="Spec.Contact" class="form-label"></label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input asp-for="Spec.Street" class="form-control" />
                            <label asp-for="Spec.Street" class="form-label"></label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input asp-for="Spec.City" class="form-control" />
                            <label asp-for="Spec.City" class="form-label"></label>
                        </div>
                    </div>
                    <div class="col-sm-8 mb-3">
                        <div class="form-floating">
                            <select asp-for="Spec.State" asp-items="IndexModel.StatesSelectList" class="form-select">
                                <option value="">@SelectOptions.SelectTextAny</option>
                            </select>
                            <label asp-for="Spec.State" class="form-label"></label>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <div class="form-floating">
                            <input asp-for="Spec.PostalCode" class="form-control" />
                            <label asp-for="Spec.PostalCode" class="form-label"></label>
                        </div>
                    </div>
                </div>

                <h2 class="h4">Assignment</h2>
                <div class="row">
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <select asp-for="Spec.Office" asp-items="Model.OfficesSelectList" class="form-select">
                                <option value="">@SelectOptions.SelectTextAny</option>
                            </select>
                            <label asp-for="Spec.Office" class="form-label"></label>
                        </div>
                        <small id="StaffHelpBlock" class="form-text text-body-secondary d-block px-2">
                            Choose an office
                            to populate the dropdown for associate.
                        </small>
                    </div>
                    <div class="col-md mb-3">
                        <div class="form-floating mb-3">
                            <select asp-for="Spec.Assigned" asp-items="Model.AssignedToSelectList" class="form-select"
                                    aria-describedby="StaffHelpBlock" disabled="@(!Model.AssignedToSelectList.Any())">
                                <option value="">@SelectOptions.SelectTextAny</option>
                            </select>
                            <label asp-for="Spec.Assigned" class="form-label"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Spec.OnlyUnassigned" class="form-check-input" />
                            <label asp-for="Spec.OnlyUnassigned" class="form-check-label"></label>
                        </div>
                    </div>
                </div>

                <div class="mt-3 mb-1">
                    <button id="SearchButton" type="submit" class="btn btn-lg btn-primary col-4 me-2">Search</button>
                    <a asp-page="Index" class="btn btn-lg btn-outline-secondary col-4 col-md-3">Clear Form</a>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model.ShowResults)
{
    <div id="SearchResults" class="mt-4">
        <div class="container-full">
            <div class="row col-lg-9 justify-content-between align-items-start g-0 my-1">
                <div class="col">
                    <h3>Search Results</h3>
                </div>
                @if (Model.SearchResults.TotalCount > 0)
                {
                    <div class="col-auto d-print-none ms-2">
                        <a asp-page="DownloadSearch" asp-all-route-data="Model.Spec.AsRouteValues()"
                           class="btn btn-sm btn-outline-secondary">
                            <svg class="bi me-1">
                                <use href="@Url.Content("~/images/app-icons.svg")#app-icon-download"></use>
                            </svg> Download search results
                        </a>
                    </div>
                }
            </div>
        </div>

        @if (Model.SearchResults.TotalCount == 0)
        {
            <p class="lead text-info">No matching results found.</p>
        }
        else
        {
            <partial name="_ComplaintSearchResultPartial" model="Model.ResultsDisplay" />
        }
    </div>
}

@section Scripts {
    <script src="~/js/dateValidation.js"  ></script>
    <script src="~/js/formSearch.js"  ></script>
    <script asp-add-content-to-csp>
        document.addEventListener("DOMContentLoaded", function () {
            datePairs(
                "Spec_ReceivedFrom",
                "Spec_ReceivedTo",
                "Received FROM Date",
                "Received THROUGH Date"
            );
            datePairs(
                "Spec_ClosedFrom",
                "Spec_ClosedTo",
                "Closed FROM Date",
                "Closed THROUGH Date"
            );
            const onlyUnassignedCheckbox = document.querySelector('#Spec_OnlyUnassigned');
            const assignedSelect = document.querySelector('#Spec_Assigned');

            function toggleAssignedSelect() {
                assignedSelect.disabled = onlyUnassignedCheckbox.checked || assignedSelect.options.length <= 1;
                if (onlyUnassignedCheckbox.checked) assignedSelect.selectedIndex = 0; // Set to the first option
            }

            // Initial check on page load
            toggleAssignedSelect();

            // Add event listener for changes
            onlyUnassignedCheckbox.addEventListener('change', toggleAssignedSelect);

            setUpStaffDropdown(
                "@nameof(Model.Spec)_@nameof(ComplaintSearchDto.Office)",
                "@nameof(Model.Spec)_@nameof(ComplaintSearchDto.Assigned)",
                false,
                "@SelectOptions.SelectTextAny"
            );
        });
    </script>
    <partial name="_StaffSelectScriptsPartial" />
}
