@page "{handler?}"
@using Cts.AppServices.ComplaintActions.Dto
@using Cts.WebApp.Models
@using Cts.WebApp.Pages.Shared.DisplayTemplates
@using Cts.WebApp.Platform.PageModelHelpers
@model IndexModel
@{
    ViewData["Title"] = "Complaint Action Search";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="p-3 rounded-3 bg-light-subtle border col-lg-9">
            <div class="text-body-secondary pb-2">
                <em>All fields are optional.</em>
            </div>
            <form method="get" asp-page-handler="Search" asp-fragment="SearchResults">
                <div class="row">
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <select asp-for="Spec.ActionType" name="@nameof(Model.Spec.ActionType)"
                                    asp-items="Model.ActionTypeSelectList" class="form-select">
                                <option value="">@SelectOptions.SelectTextAny</option>
                            </select>
                            <label asp-for="Spec.ActionType" class="form-label"></label>
                        </div>
                    </div>
                    @if (Model.CanViewDeletedActions)
                    {
                        <div class="col-md mb-3">
                            <div class="form-floating">
                                <select asp-for="Spec.DeletedStatus" name="@nameof(Model.Spec.DeletedStatus)"
                                        asp-items="Html.GetEnumSelectList<SearchDeleteStatus>()" class="form-select"
                                        aria-describedby="DeletedStatusHelpBlock">
                                    <option value="">@SelectOptions.SelectNotDeleted</option>
                                </select>
                                <label asp-for="Spec.DeletedStatus" class="form-label"></label>
                            </div>
                            <small id="DeletedStatusHelpBlock" class="form-text text-body-secondary d-block px-2">
                                Displaying deleted actions also allows display of deleted complaints.
                            </small>
                        </div>
                    }
                </div>

                <div class="row">
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <select asp-for="Spec.EnteredBy" name="@nameof(Model.Spec.EnteredBy)"
                                    asp-items="Model.EnteredBySelectList" class="form-select">
                                <option value="">@SelectOptions.SelectTextAny</option>
                            </select>
                            <label asp-for="Spec.EnteredBy" class="form-label"></label>
                        </div>
                    </div>
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <select asp-for="Spec.Office" name="@nameof(Model.Spec.Office)"
                                    asp-items="Model.OfficesSelectList" class="form-select">
                                <option value="">@SelectOptions.SelectTextAny</option>
                            </select>
                            <label asp-for="Spec.Office" class="form-label"></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md mb-3">
                        <label asp-for="Spec.EnteredFrom" class="form-label px-2 mb-0">Date Action Entered</label>
                        <div class="input-group">
                            <div class="form-floating">
                                <input asp-for="Spec.EnteredFrom" name="@nameof(Model.Spec.EnteredFrom)"
                                       class="form-control" aria-describedby="EnteredDateHelpBlock" />
                                <label asp-for="Spec.EnteredFrom" class="form-label"></label>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Spec.EnteredTo" name="@nameof(Model.Spec.EnteredTo)"
                                       class="form-control" aria-describedby="EnteredDateHelpBlock" />
                                <label asp-for="Spec.EnteredTo" class="form-label"></label>
                            </div>
                        </div>
                        <small id="EnteredDateHelpBlock" class="form-text text-body-secondary d-block px-2">
                            Note: Some earlier Complaint Actions do not have an entry date and will be excluded when
                            searching by date entered.
                        </small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <input asp-for="Spec.Investigator" name="@nameof(Model.Spec.Investigator)"
                                   class="form-control" />
                            <label asp-for="Spec.Investigator" class="form-label"></label>
                        </div>
                    </div>
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <input asp-for="Spec.Comments" name="@nameof(Model.Spec.Comments)" class="form-control" />
                            <label asp-for="Spec.Comments" class="form-label"></label>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-floating">
                        <select asp-for="Spec.Concern" name="@nameof(Model.Spec.Concern)"
                                asp-items="Model.ConcernsSelectList" class="form-select"
                                aria-describedby="ConcernHelpBlock">
                            <option value="">@SelectOptions.SelectTextAny</option>
                        </select>
                        <label asp-for="Spec.Concern" class="form-label"></label>
                    </div>
                    <small id="ConcernHelpBlock" class="form-text text-body-secondary d-block px-2">
                        Note: Searches both primary and secondary areas of concern.
                    </small>
                </div>

                <div class="mt-3 mb-1">
                    <button id="SearchButton" type="submit" class="btn btn-lg btn-primary col-4 me-2">Search</button>
                    <a asp-page="Index" class="btn btn-lg btn-outline-secondary col-4 col-md-3">Clear Form</a>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model.ShowResults)
{
    <div id="SearchResults" class="mt-4">
        <div class="container-full">
            <div class="row col-lg-9 justify-content-between align-items-start g-0 my-1">
                <div class="col">
                    <h3>Search Results</h3>
                </div>
                @if (Model.SearchResults.TotalCount > 0)
                {
                    <div class="col-auto d-print-none ms-2">
                        <a asp-page="DownloadSearch" asp-all-route-data="Model.Spec.AsRouteValues()"
                           class="btn btn-sm btn-outline-secondary">
                            <svg class="bi me-1">
                                <use href="@Url.Content("~/images/app-icons.svg")#app-icon-download"></use>
                            </svg> Download search results
                        </a>
                    </div>
                }
            </div>
        </div>

        @if (Model.SearchResults.TotalCount == 0)
        {
            <p class="lead text-info">No matching results found.</p>
        }
        else
        {
            <partial name="Shared/_PaginationNavAndCount" model="Model.PaginationNav" />
            <div class="table-responsive-md">
                <table class="table table-collapsible table-hover" aria-label="Complaint Action search results">
                    <thead>
                    <tr class="text-nowrap">
                        <partial name="Shared/_SortableTableColHead"
                                 model='new SearchResultsColumnDisplay("Complaint ID", SortBy.IdAsc, SortBy.IdDesc, Model.Spec)' />
                        <partial name="Shared/_SortableTableColHead"
                                 model='new SearchResultsColumnDisplay("Action Type", SortBy.TypeAsc, SortBy.TypeDesc, Model.Spec)' />
                        <partial name="Shared/_SortableTableColHead"
                                 model='new SearchResultsColumnDisplay("Action Date", SortBy.DateAsc, SortBy.DateDesc, Model.Spec)' />
                        <th scope="col">Investigator</th>
                        <th scope="col">Entered By</th>
                        <th scope="col">Comments</th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (var item in Model.SearchResults.Items)
                    {
                        <tr>
                            <th scope="row" data-label="Complaint ID">
                                <a asp-page="../Complaints/Details" asp-route-id="@item.ComplaintId.ToString()"
                                   class="btn btn-outline-primary btn-sm @(item.IsDeleted || item.ComplaintIsDeleted ? "btn-outline-danger" : "")">@item.ComplaintId.ToString()</a>
                                @if (item.IsDeleted)
                                {
                                    <br />
                                    <span class="text-nowrap text-uppercase text-danger-emphasis">Deleted Action</span>
                                }
                                @if (item.ComplaintIsDeleted)
                                {
                                    <br />
                                    <span class="text-nowrap text-uppercase text-danger-emphasis">Deleted
                                        Complaint</span>
                                }
                            </th>
                            <td data-label="Action Type">
                                @Html.DisplayFor(_ => item.ActionTypeName, DisplayTemplate.StringOrPlaceholder)
                            </td>
                            <td data-label="Action Date"
                                class="text-nowrap">@Html.DisplayFor(_ => item.ActionDate, DisplayTemplate.DateOnly)</td>
                            <td data-label="Investigator">@Html.DisplayFor(_ => item.Investigator, DisplayTemplate.StringOrPlaceholder)</td>
                            <td data-label="Entered By">
                                @Html.DisplayFor(_ => item.EnteredByName, DisplayTemplate.StringOrPlaceholder)
                                <br />
                                @Html.DisplayFor(_ => item.EnteredByOffice, DisplayTemplate.StringOrPlaceholder, new { Placeholder = "" })
                            </td>
                            <td data-label="Comments">@Html.DisplayFor(_ => item.Comments, DisplayTemplate.TruncateText)</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <partial name="Shared/_PaginationNav" model="Model.PaginationNav" />
        }
    </div>
}

@section Scripts {
    <script src="~/js/dateValidation.js"></script>
    <script src="~/js/formSearch.js"></script>
    <script asp-add-content-to-csp>
        document.addEventListener("DOMContentLoaded", function () {
            datePairs(
                "Spec_EnteredFrom",
                "Spec_EnteredTo",
                "Entered FROM Date",
                "Entered THROUGH Date"
            );
        });
    </script>
}
