@page "{handler?}"
@using Cts.WebApp.Pages.Shared.DisplayTemplates
@using Cts.WebApp.Pages.Shared.EditorTemplates
@using GaEpd.AppLibrary.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "CTS Reports";
}

@if (Model.ViewReportsMenu)
{
    <h1>Status Reports</h1>
    <div class="list-group mb-2">
        <a asp-page-handler="DaysSinceLastAction" class="list-group-item list-group-item-action">Days Since Last Action</a>
        <a asp-page-handler="AllComplaintsReceivedByDate" class="list-group-item list-group-item-action">All Complaints Received By Date</a>
        <a asp-page-handler="ComplaintsByStaff" class="list-group-item list-group-item-action">Complaint Status/Number of Complaints By Staff *</a>
        <a asp-page-handler="ComplaintsByCounty" class="list-group-item list-group-item-action">Complaint Status/Number of Complaints By County *</a>
        <a asp-page-handler="DaysToClosureByOffice" class="list-group-item list-group-item-action">Days to Closure By Office *</a>
        <a asp-page-handler="DaysToClosureByStaff" class="list-group-item list-group-item-action">Days to Closure By Staff *</a>
        <a asp-page-handler="DaysToFollowUpByStaff" class="list-group-item list-group-item-action">Days to Follow Up By Staff *</a>
        <a asp-page-handler="UnacceptedComplaints" class="list-group-item list-group-item-action">Not Accepted Complaints By Office</a>
        <a asp-page-handler="UnresolvedComplaints" class="list-group-item list-group-item-action">Unresolved Complaints By Office</a>
    </div>
    <p class="mb-4">
        <em>* Report may load slowly.</em>
    </p>

    <h1>Error Reports</h1>
    <div class="list-group mb-4">
        <a asp-page-handler="ComplaintsAssignedToInactiveUsers" class="list-group-item list-group-item-action">Open complaints assigned to inactive users</a>
        <a asp-page-handler="UsersAssignedToInactiveOffices" class="list-group-item list-group-item-action">Active users assigned to inactive offices</a>
        <a asp-page-handler="UnconfirmedUserAccounts" class="list-group-item list-group-item-action">Active users with unconfirmed accounts</a>
    </div>

    @if (Model.CanExportDataArchive)
    {
        <h1>Data Export</h1>
        <div class="list-group mb-4">
            <a asp-page="Export" class="list-group-item list-group-item-action">Export CTS data archive</a>
        </div>
    }
}
else
{
    <p class="d-print-none">
        <a asp-page="Index" class="link-offset-2">← CTS Reports</a>
    </p>
    <h1>Report: @Model.CurrentReportName</h1>

    <form asp-page-handler="DaysSinceLastAction" method="get" class="d-print-none">
        <div role="search" class="row g-3 ">
            <div class="col">
                @Html.EditorFor(model => model.Threshold, EditorTemplate.SelectNoPlaceholder, additionalViewData: new { Items = Model.AgeThresholdSelectList })
            </div>
            <div class="col">
                @Html.EditorFor(model => model.Office, EditorTemplate.SelectNoPlaceholder, additionalViewData: new { Items = Model.OfficeSelectList })
            </div>
            <div class="col align-self-center">
                <button type="submit" class="btn btn-lg btn-outline-primary">View</button>
            </div>
        </div>
    </form>

    <div class="mt-3">
        @if (Model.StaffWithComplaints.Count == 0)
        {
            <p>
                <em>No staff found.</em>
            </p>
        }
        else if (!Model.StaffWithComplaints.Any(staff => staff.Complaints.Count > 0))
        {
            <p>
                <em>No staff found with complaints over the threshold.</em>
            </p>
        }
        else
        {
            foreach (var staff in Model.StaffWithComplaints.Where(staff => staff.Complaints.Count > 0))
            {
                <h2 class="mt-4">
                    <a asp-page="/Staff/Complaints/Index" asp-page-handler="Search" asp-fragment="SearchResults"
                       asp-route-Office="@staff.OfficeId.ToString()" asp-route-Assigned="@staff.Id">
                        @staff.SortableFullName
                    </a>
                </h2>
                <table class="table table-hover table-borderless" aria-describedby="table-description">
                    <caption class="caption-top">
                        <p>Total complaints found: @staff.Complaints.Count.ToString()</p>
                    </caption>
                    <thead>
                    <tr>
                        <th scope="col">Complaint ID</th>
                        <th scope="col">Date Received</th>
                        <th scope="col">County of Complaint</th>
                        <th scope="col">Source Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Most Recent Action Date</th>
                        <th scope="col">Days Since Last Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var complaint in staff.Complaints)
                    {
                        <tr>
                            <th scope="row">
                                <a asp-page="./Complaints/Index" asp-route-id="@complaint.Id.ToString()" class="btn btn-outline-primary btn-sm">@complaint.Id.ToString()</a>
                            </th>
                            <td>@Html.DisplayFor(_ => complaint.ReceivedDate, DisplayTemplate.ShortDate)</td>
                            <td>@Html.DisplayFor(_ => complaint.ComplaintCounty, DisplayTemplate.StringOrPlaceholder)</td>
                            <td>@Html.DisplayFor(_ => complaint.SourceFacilityName, DisplayTemplate.StringOrPlaceholder)</td>
                            <td>@complaint.Status.GetDisplayName()</td>
                            <td>@Html.DisplayFor(_ => complaint.LastActionDate, DisplayTemplate.ShortDateOrNone)</td>
                            <td>@complaint.DaysSinceLastAction.ToString("N0")</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        }
    </div>
}
