@page "{handler?}"
@using Cts.WebApp.Pages.Shared.DisplayTemplates
@using GaEpd.AppLibrary.Extensions
@model ReportingIndexModel

@if (Model.CurrentReport == ReportingIndexModel.Menu)
{
    ViewData["Title"] = "CTS Reports";

    <h1>Status Reports</h1>
    <div class="list-group mb-4">
        <a asp-page-handler="@ReportingIndexModel.DaysSinceMostRecentAction" class="list-group-item list-group-item-action">@Model.ReportTitle[ReportingIndexModel.DaysSinceMostRecentAction]</a>
        <a asp-page-handler="@ReportingIndexModel.ComplaintsByStaff" class="list-group-item list-group-item-action">@Model.ReportTitle[ReportingIndexModel.ComplaintsByStaff]</a>
        <a asp-page-handler="@ReportingIndexModel.DaysToClosureByOffice" class="list-group-item list-group-item-action">@Model.ReportTitle[ReportingIndexModel.DaysToClosureByOffice]</a>
        <a asp-page-handler="@ReportingIndexModel.DaysToClosureByStaff" class="list-group-item list-group-item-action">@Model.ReportTitle[ReportingIndexModel.DaysToClosureByStaff]</a>
        <a asp-page-handler="@ReportingIndexModel.DaysToFollowupByStaff" class="list-group-item list-group-item-action">@Model.ReportTitle[ReportingIndexModel.DaysToFollowupByStaff]</a>
        <a asp-page-handler="@ReportingIndexModel.ComplaintsAssignedToInactiveUsers" class="list-group-item list-group-item-action">@Model.ReportTitle[ReportingIndexModel.ComplaintsAssignedToInactiveUsers]</a>
    </div>

    @if (Model.CanExportDataArchive)
    {
        <h1>Data Export</h1>
        <div class="list-group mb-4">
            <a asp-page="Export" class="list-group-item list-group-item-action">Export CTS data archive</a>
        </div>
    }
}
else
{
    ViewData["Title"] = $"Report: {Model.ReportTitle[Model.CurrentReport]}";

    <p class="d-print-none">
        <a asp-page="Index" class="lead link-offset-2"><svg class="bi me-2">
                <use href="@Url.Content("~/images/app-icons.svg")#app-icon-arrow-90deg-up"></use>
            </svg>CTS Reports</a>
    </p>
    <h1 id="table-description">Report: @Model.ReportTitle[Model.CurrentReport]</h1>

    @if (Model.ShowForm)
    {
        <form asp-page-handler="@Model.CurrentReport" method="get" class="d-print-none">
            <div role="search" class="p-3 rounded-3 bg-light-subtle border">
                <div class="row g-3 align-items-md-end">
                    @if (Model.ShowThresholdSelect)
                    {
                        <div class="col-md">
                            <div class="form-floating">
                                <select asp-for="Threshold" name="@nameof(Model.Threshold)" asp-items="Model.AgeThresholdSelectList" class="form-select"></select>
                                <label asp-for="Threshold" class="form-label"></label>
                            </div>
                        </div>
                    }
                    @if (Model.ShowDateRange)
                    {
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input asp-for="From" name="@nameof(Model.From)" class="form-control" />
                                    <label asp-for="From" class="form-label"></label>
                                </div>
                                <div class="form-floating">
                                    <input asp-for="To" name="@nameof(Model.To)" class="form-control" />
                                    <label asp-for="To" class="form-label"></label>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.ShowOfficeSelect)
                    {
                        <div class="col-md">
                            <div class="form-floating">
                                <select asp-for="Office" name="@nameof(Model.Office)" asp-items="Model.OfficeSelectList" class="form-select"></select>
                                <label asp-for="Office" class="form-label"></label>
                            </div>
                        </div>
                    }
                    <div class="col-md align-self-center">
                        <button type="submit" class="btn btn-lg btn-outline-primary">View</button>
                    </div>
                </div>
                @if (Model.ShowAdminClosed)
                {
                    <div class="row mt-2">
                        <div class="col">

                            <input asp-for="IncludeAdminClosed" class="form-check-input" />
                            <label asp-for="IncludeAdminClosed" class="form-check-label"></label>
                        </div>
                    </div>
                }
            </div>
        </form>
    }


    @if (Model.ShowStaffReport)
    {
        <div class="mt-3">
            @if (Model.StaffReport.Count == 0)
            {
                <p>
                    <em>No staff found.</em>
                </p>
            }
            else if (!Model.StaffReport.Exists(staff => staff.Complaints.Count > 0))
            {
                <p>
                    <em>No staff found with complaints over the threshold.</em>
                </p>
            }
            else
            {
                foreach (var staff in Model.StaffReport.Where(staff => staff.Complaints.Count > 0))
                {
                    <h2 class="h4 mt-4">
                        @if (Model.LinkToActionsSearch)
                        {
                            <a asp-page="/Staff/ComplaintActions/Index" asp-page-handler="Search" asp-fragment="SearchResults"
                               asp-route-EnteredBy="@staff.Id" asp-route-EnteredFrom="@Model.From.ToString()" asp-route-EnteredTo="@Model.To.ToString()">
                                @staff.SortableFullName
                            </a>
                        }
                        else
                        {
                            <a asp-page="/Staff/Complaints/Index" asp-page-handler="Search" asp-fragment="SearchResults"
                               asp-route-Office="@staff.OfficeId.ToString()" asp-route-Assigned="@staff.Id"
                               asp-route-ReceivedFrom="@(Model.LinkReceivedDate ? Model.From.ToString() : "")"
                               asp-route-ReceivedTo="@(Model.LinkReceivedDate ? Model.To.ToString() : "")"
                               asp-route-ClosedFrom="@(Model.LinkClosedDate ? Model.From.ToString() : "")"
                               asp-route-ClosedTo="@(Model.LinkClosedDate ? Model.To.ToString() : "")"
                               asp-route-Status="@Model.LinkStatus?.ToString("D")">
                                @staff.SortableFullName
                            </a>
                        }
                    </h2>
                    <div class="table-responsive-md">
                        <table class="table table-hover table-borderless" aria-describedby="table-description">
                            <caption class="caption-top px-2">
                                <div>Total complaints found: @staff.Complaints.Count.ToString()</div>
                                @if (Model.ShowDaysToClosure)
                                {
                                    <div>Average days to closure: @staff.AverageDaysToClosure.ToString()</div>
                                }
                                else if (Model.ShowDaysToFollowup)
                                {
                                    <div>Average days to follow-up action: @staff.AverageDaysToFollowup.ToString()</div>
                                }
                            </caption>
                            <thead>
                            <tr>
                                <th scope="col">Complaint ID</th>
                                <th scope="col">Status</th>
                                <th scope="col">County</th>
                                <th scope="col">Source Name</th>
                                <th scope="col">Date Received</th>
                                @if (Model.ShowDaysToClosure)
                                {
                                    <th scope="col">Date Closed</th>
                                    <th scope="col" class="text-end">Days to Closure</th>
                                }
                                else if (Model.ShowDaysToFollowup)
                                {
                                    <th scope="col">Earliest Action Date</th>
                                    <th scope="col" class="text-end">Days to Follow-up</th>
                                }
                                @if (Model.ShowRecentAction)
                                {
                                    <th scope="col">Most Recent Action Date</th>
                                    <th scope="col" class="text-end">Days Since Most Recent Action</th>
                                }
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var complaint in staff.Complaints)
                            {
                                <tr>
                                    <th scope="row">
                                        <a asp-page="/Staff/Complaints/Details" asp-route-id="@complaint.Id.ToString()" class="btn btn-outline-primary btn-sm">@complaint.Id.ToString()</a>
                                    </th>
                                    <td>@complaint.Status.GetDisplayName()</td>
                                    <td>@Html.DisplayFor(_ => complaint.ComplaintCounty, DisplayTemplate.StringOrPlaceholder)</td>
                                    <td>@Html.DisplayFor(_ => complaint.SourceFacilityName, DisplayTemplate.StringOrPlaceholder)</td>
                                    <td>@Html.DisplayFor(_ => complaint.ReceivedDate, DisplayTemplate.ShortDate)</td>
                                    @if (Model.ShowDaysToClosure)
                                    {
                                        <td>@Html.DisplayFor(_ => complaint.ComplaintClosedDate, DisplayTemplate.ShortDateOrBlank)</td>
                                        <td class="text-end">@complaint.DaysToClosure?.ToString("N0")</td>
                                    }
                                    else if (Model.ShowDaysToFollowup)
                                    {
                                        <td>@Html.DisplayFor(_ => complaint.EarliestActionDate, DisplayTemplate.ShortDateOrBlank)</td>
                                        <td class="text-end">@complaint.DaysToFollowup?.ToString("N0")</td>
                                    }
                                    @if (Model.ShowRecentAction)
                                    {
                                        <td>@Html.DisplayFor(_ => complaint.MostRecentActionDate, DisplayTemplate.ShortDateOrNone)</td>
                                        <td class="text-end">@complaint.DaysSinceMostRecentAction?.ToString("N0")</td>
                                    }
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                }
            }
        </div>
    }

    @if (Model.ShowOfficeReport)
    {
        <div class="mt-3">
            @if (Model.OfficeReport.Count == 0)
            {
                <p>
                    <em>No closed complaints found.</em>
                </p>
            }
            else
            {
                <table class="table table-hover table-borderless w-auto" aria-describedby="table-description">
                    <thead>
                    <tr>
                        <th scope="col">Office</th>
                        <th scope="col" class="text-end ps-3">Total Complaints</th>
                        <th scope="col" class="text-end ps-3">Average Days To Closure</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    @foreach (var office in Model.OfficeReport)
                    {
                        <tr>
                            <th scope="row">
                                <a asp-page="/Staff/Complaints/Index" asp-page-handler="Search" asp-fragment="SearchResults"
                                   asp-route-Office="@office.OfficeId.ToString()" asp-route-Status="@Model.LinkStatus?.ToString("D")"
                                   asp-route-ClosedFrom="@Model.From.ToString()" asp-route-ClosedTo="@Model.To.ToString()">
                                    @office.OfficeName
                                </a>
                            </th>
                            <td class="text-end">@office.TotalComplaintsCount?.ToString("N0")</td>
                            <td class="text-end">@office.AverageDaysToClosure?.ToString("N1")</td>
                        </tr>
                    }
                    </tbody>
                    <tfoot class="table-group-divider">
                    <tr>
                        <th scope="row">Total</th>
                        <td class="text-end">@Model.OfficeReportsTotalComplaints?.ToString("N0")</td>
                        <td class="text-end">@Model.OfficeReportsTotalAvgDaysToClosure?.ToString("N1")</td>
                    </tr>
                    </tfoot>
                </table>
            }
        </div>
    }
}
