@model (List<AttachmentViewModel> Attachments, bool AttachmentsEditable)
@*Boolean describes whether to show the delete button*@

@if (Model.Attachments == null || Model.Attachments.Count == 0)
{
    <p><em>None.</em></p>
}
else
{
    <table class="usa-table-borderless gaepd-table-responsive">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(m => m.Attachments.FirstOrDefault().FileName)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.Attachments.FirstOrDefault().Size)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.Attachments.FirstOrDefault().UploadedBy)</th>
                @if (Model.AttachmentsEditable)
                {
                    <th scope="col">Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Attachments)
            {
                <tr>
                    <th scope="row" data-label="@Html.DisplayNameFor(m => item.FileName)">
                        @if (item.IsImage)
                        {
                            <a asp-action="Attachment" asp-route-attachmentId="@item.Id" asp-route-fileName="@item.FileName"
                               data-fancybox="attachment" data-caption="@item.FileName"
                               class="gaepd-file-link" target="_blank">
                                <img src="~/Complaints/Thumbnail/@item.Id" width="@CTS.ThumbnailSize" height="@CTS.ThumbnailSize" />
                                @Html.DisplayFor(m => item.FileName)
                            </a>
                        }
                        else
                        {
                            <a asp-action="Attachment" asp-route-attachmentId="@item.Id" asp-route-fileName="@item.FileName"
                               class="gaepd-file-link" target="_blank">
                                @Html.DisplayFor(m => item.FileExtension)
                                @Html.DisplayFor(m => item.FileName)
                            </a>
                        }
                    </th>
                    <td data-label="@Html.DisplayNameFor(m => item.Size)">@Html.DisplayFor(m => item.Size)</td>
                    <td data-label="@Html.DisplayNameFor(m => item.UploadedBy)">
                        @Html.DisplayFor(m => item.UploadedBy.FullName)<br />
                        on @Html.DisplayFor(m => item.DateUploaded)
                    </td>
                    @if (Model.AttachmentsEditable)
                    {
                        <td data-label="Actions">
                            <a class="usa-button usa-button-outline gaepd-button-inline-action" asp-action="DeleteAttachment" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
