@page "{handler?}"
@using Cts.AppServices.Staff.Dto
@using Cts.WebApp.Pages.Shared.DisplayTemplates
@using Cts.WebApp.Platform.PageModelHelpers
@model UsersIndexModel
@{
    ViewData["Title"] = "CTS User Search";
}

<h1>@ViewData["Title"]</h1>

<div class="p-3 rounded-3 bg-light-subtle">
    <form method="get" asp-page-handler="Search" asp-fragment="SearchResults">
        <div class="row">
            <div class="col-md mb-3">
                <div class="form-floating">
                    <input asp-for="Spec.Name" name="@nameof(Model.Spec.Name)" class="form-control" aria-describedby="name-help-block" />
                    <label asp-for="Spec.Name" class="form-label"></label>
                    <small id="name-help-block" class="form-text">First <em>or</em> last name</small>
                </div>
            </div>
            <div class="col-md mb-3">
                <div class="form-floating">
                    <input asp-for="Spec.Email" name="@nameof(Model.Spec.Email)" class="form-control" />
                    <label asp-for="Spec.Email" class="form-label"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md mb-3">
                <div class="form-floating">
                    <select asp-for="Spec.Office" asp-items="Model.OfficesSelectList" name="@nameof(Model.Spec.Office)" class="form-select">
                        <option value="">@SelectOptions.SelectTextAny</option>
                    </select>
                    <label asp-for="Spec.Office" class="form-label"></label>
                </div>
            </div>
            <div class="col-md mb-3">
                <div class="form-floating">
                    <select asp-for="Spec.Role" asp-items="Model.RolesSelectList" name="@nameof(Model.Spec.Role)" class="form-select" aria-describedby="rolesHelpBlock">
                        <option value="">@SelectOptions.SelectTextAny</option>
                    </select>
                    <label asp-for="Spec.Role" class="form-label"></label>
                </div>
                <div id="rolesHelpBlock" class="form-text">
                    <a asp-page="Roles" asp-fragment="cts-roles" target="_blank">Description of roles</a>
                </div>
            </div>
            <div class="col-md mb-3">
                <div class="form-floating">
                    <select asp-for="Spec.Status" asp-items="Html.GetEnumSelectList<SearchStaffStatus>()" name="@nameof(Model.Spec.Status)" class="form-select"></select>
                    <label asp-for="Spec.Status" class="form-label"></label>
                </div>
            </div>
        </div>

        <div class="mt-3 mb-1">
            <button id="SearchButton" type="submit" class="btn btn-lg btn-primary col-4 me-2">Search</button>
            <a asp-page="Index" class="btn btn-lg btn-outline-secondary col-4 col-md-3 col-md-2">Clear Form</a>
        </div>
    </form>
</div>

@if (Model.ShowResults)
{
    <h3 id="SearchResults" class="mt-4">Search Results</h3>

    @if (Model.SearchResults.TotalCount == 0)
    {
        <p class="lead text-info">No search results found.</p>
    }
    else
    {
        <table class="table table-hover" aria-label="User search results">
            <caption class="caption-top">
                <partial name="_PaginationNavAndCount" model="Model.PaginationNav" />
            </caption>

            <thead>
            <tr>
                <th scope="col">
                    <a asp-fragment="SearchResults" asp-all-route-data="Model.Spec.AsRouteValues()" asp-route-handler="search"
                       asp-route-Sort="@(Model.Spec.Sort == SortBy.NameAsc ? nameof(SortBy.NameDesc) : nameof(SortBy.NameAsc))">
                        @Html.DisplayNameFor(model => model.Spec.Name)
                        @Html.DisplayFor(model => model.SortByName, DisplayTemplate.SortArrow, 
                            new { up = nameof(SortBy.NameAsc), down = nameof(SortBy.NameDesc) })
                    </a>
                </th>
                <th scope="col">@Html.DisplayNameFor(model => model.Spec.Email)</th>
                <th scope="col">
                    <a asp-fragment="SearchResults" asp-all-route-data="Model.Spec.AsRouteValues()" asp-route-handler="search"
                       asp-route-Sort="@(Model.Spec.Sort == SortBy.OfficeAsc ? nameof(SortBy.OfficeDesc) : nameof(SortBy.OfficeAsc))">
                        @Html.DisplayNameFor(model => model.Spec.Office)
                        @Html.DisplayFor(model => model.SortByName, DisplayTemplate.SortArrow, 
                            new { up = nameof(SortBy.OfficeAsc), down = nameof(SortBy.OfficeDesc) })
                    </a>
                </th>
                <th scope="col">Status</th>
                <th scope="col">
                    <span class="visually-hidden">Actions</span>
                </th>
            </tr>
            </thead>

            <tbody class="table-group-divider">
            @foreach (var item in Model.SearchResults.Items)
            {
                <tr class="@(item.Active ? "" : "bg-secondary-subtle")">
                    <td>
                        @item.SortableFullName
                        @if (item.Email.ToLowerInvariant().Equals(User.Identity?.Name!.ToLowerInvariant()))
                        {
                            <span class="badge bg-info-subtle border border-info-subtle text-info-emphasis text-uppercase rounded-pill">You</span>
                        }
                    </td>
                    <td>@item.Email</td>
                    <td>@Html.DisplayFor(_ => item.OfficeName, DisplayTemplate.StringOrPlaceholder, new { Placeholder = "none" })</td>
                    <td>@Html.DisplayFor(_ => item.Active, DisplayTemplate.BoolActive)</td>
                    <td>
                        <a asp-page="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">View</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <partial name="_PaginationNav" model="Model.PaginationNav" />
    }
}

@section Scripts {
    <script src="~/js/formSearch.js"></script>
}
