@page
@using Cts.Domain.Identity
@using Cts.WebApp.Pages.Shared.DisplayTemplates
@model IndexModel
@{
    ViewData["Title"] = $"Site Maintenance: {IndexModel.ThisOption.PluralName}";
}

<p class="d-print-none">
    <a asp-page="../Index" class="lead link-offset-2"><svg class="bi me-2">
            <use href="@Url.Content("~/images/app-icons.svg")#app-icon-arrow-90deg-up"></use>
        </svg>Site Maintenance</a>
</p>

<h1>@IndexModel.ThisOption.PluralName</h1>

<p class="lead">
    The @IndexModel.ThisOption.PluralName listed below are available for selection in
    @IndexModel.ThisOption.SingularName dropdown lists.
</p>

@if (Model.IsSiteMaintainer)
{
    <p>
        <a asp-page="Add" class="btn btn-outline-primary btn-sm">Add New</a>
    </p>
}

<p id="table-description">
    The &ldquo;@AppRole.SiteMaintenanceRole.DisplayName&rdquo; role is needed to add or edit @IndexModel.ThisOption.PluralName.
    @if (Model.IsSiteMaintainer)
    {
        @:Select an item to edit it. Setting an item as &ldquo;inactive&rdquo; makes it unavailable for future use but does not 
        @:affect any existing use.
    }
</p>

@if (Model.Items.Count == 0)
{
    <em class="text-body-secondary">None</em>
}
else
{
    <table class="table table-hover" aria-describedby="table-description">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Assignor</th>
            <th scope="col">Status</th>
            @if (Model.IsSiteMaintainer)
            {
                <th scope="col">
                    <span class="visually-hidden">Actions</span>
                </th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Items)
        {
            <tr class="@(item.Active ? "" : "bg-secondary-subtle")">
                <td>
                    @if (item.Id == Model.HighlightId)
                    {
                        @:👉 
                    }
                    @Html.DisplayFor(_ => item.Name, DisplayTemplate.StringOrPlaceholder, new { Placeholder = "none" })
                </td>
                <td>@Html.DisplayFor(_ => item.AssignorNameWithOffice, DisplayTemplate.StringOrPlaceholder, new { Placeholder = "none" })</td>
                <td>@Html.DisplayFor(_ => item.Active, DisplayTemplate.BoolActive)</td>
                @if (Model.IsSiteMaintainer)
                {
                    <td>
                        <a asp-page="Edit" asp-route-id="@item.Id.ToString()" class="btn btn-outline-primary btn-sm">Edit</a>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}
