@page
@using Cts.AppServices.AuthenticationServices
@using Cts.WebApp.Platform.Settings
@model LoginModel
@{
    ViewData["Title"] = Model.DisplayFailedLogin ? "Agency Login Failed" : "Agency Login";
}

<h1>@ViewData["Title"]</h1>
<p>
    The Complaint Tracking System administration site is a State of Georgia application.
    It is provided for conducting official State business and is available for use by
    State of Georgia employees only.
</p>

@if (Model.DisplayFailedLogin)
{
    <p class="lead text-danger-emphasis">
        There was an error logging in. If you need assistance related to this error, please contact
        <a asp-page="/Support">EPD-IT support</a>.
    </p>
    <div asp-validation-summary="All" class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi me-2" role="img" aria-label="Danger:">
            <use href="@Url.Content("~/images/app-icons.svg")#app-icon-exclamation-triangle-fill"></use>
        </svg>
    </div>
}

<div class="my-3">
    <div class="row g-4">
        @if (AppSettings.DevSettings.EnableTestUser)
        {
            <div class="col-xl">
                <div class="py-3 px-4 bg-light-subtle border rounded-3">
                    <h1 class="display-6">Sign in as a test user</h1>

                    <form asp-page-handler="@LoginProviders.TestUserScheme" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <button type="submit" class="btn btn-lg btn-outline-primary btn-img icon-link my-3 py-3 px-4"
                                title="Sign in as a test user">
                            <svg class="bi me-2">
                                <use href="@Url.Content("~/images/app-icons.svg")#app-icon-person-badge"></use>
                            </svg>
                            Sign in
                        </button>
                    </form>
                </div>
            </div>
        }

        @if (Model.LoginProviderNames.Contains(LoginProviders.EntraIdScheme))
        {
            <div class="col-lg">
                <div class="py-3 px-4 bg-light-subtle border rounded-3">
                    <h1 class="display-6">Sign in using your SOG work account</h1>

                    <form asp-route-scheme="@LoginProviders.EntraIdScheme" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <button type="submit" class="btn btn-lg btn-outline-primary btn-img icon-link my-3 py-3 px-4"
                                title="Sign in using your SOG work account">
                            <img src="~/images/ms-symbol.svg" alt="" class="btn-img-bg" /> Sign in
                        </button>
                    </form>

                    @if (AppSettings.EntraIdPhaseOut.Enabled)
                    {
                        var cssClass = DateOnly.FromDateTime(DateTime.Today) > AppSettings.EntraIdPhaseOut.EndDate.AddDays(-30) ? "callout-danger" : "callout-warning";
                        <div class="callout @cssClass">
                            The SOG work account login is being phased out for EPD-IT applications and will be
                            completely removed by @AppSettings.EntraIdPhaseOut.EndDate.ToLongDateString().
                            Information on a replacement will be provided when available. For more information or
                            assistance, contact <a asp-page="/Support">EPD-IT support</a>.
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
