@model EditComplaintViewModel

@{
    ViewData["Title"] = $"Edit Complaint ID {Model.Id}";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit">
<h2>Received</h2>
<div id="received" class="usa-grid-full">
    <div class="usa-width-one-half">
        <fieldset>
            <label asp-for="DateReceivedDate"></label>
            <div class="usa-input-grid usa-input-grid-medium">
                <input asp-for="DateReceivedDate" class="datepicker" />
            </div>
            <label asp-for="DateReceivedTime" class="usa-sr-only"></label>
            <div class="usa-input-grid usa-input-grid-small">
                <input asp-for="DateReceivedTime" class="timepicker" />
            </div>
        </fieldset>
        <span asp-validation-for="DateReceivedDate" class="usa-input-error-message"></span>
        <span asp-validation-for="DateReceivedTime" class="usa-input-error-message"></span>
    </div>
    <div class="usa-width-one-half">
        <fieldset>
            <label asp-for="ReceivedById"></label>
            <select asp-for="ReceivedById" asp-items="Model.SelectLists.AllUsersSelectList"></select>
            <span asp-validation-for="ReceivedById" class="usa-input-error-message"></span>
        </fieldset>
    </div>
</div>

<h2>Caller</h2>
<div id="caller">
    <div class="usa-grid-full">
        <fieldset class="usa-width-one-half">
            <legend>Caller info</legend>
            <label asp-for="CallerName"></label>
            <input asp-for="CallerName" />
            <span asp-validation-for="CallerName" class="usa-input-error-message"></span>

            <label asp-for="CallerRepresents"></label>
            <input asp-for="CallerRepresents" />
            <span asp-validation-for="CallerRepresents" class="usa-input-error-message"></span>

            <label asp-for="CallerEmail"></label>
            <input asp-for="CallerEmail" />
            <span asp-validation-for="CallerEmail" class="usa-input-error-message"></span>

            <label asp-for="CallerPhoneNumber"></label>
            <div>
                <div class="usa-input-grid usa-input-grid-medium">
                    <input asp-for="CallerPhoneNumber" />
                    <span asp-validation-for="CallerPhoneNumber" class="usa-input-error-message"></span>
                </div>
                <div class="usa-input-grid usa-input-grid-small">
                    <select asp-for="CallerPhoneType" asp-items="Model.SelectLists.PhoneTypesSelectList">
                        <option value="">@CTS.SelectPhoneTypeText</option>
                    </select>
                    <span asp-validation-for="CallerPhoneType" class="usa-input-error-message"></span>
                </div>
            </div>

            <label asp-for="CallerSecondaryPhoneNumber"></label>
            <div>
                <div class="usa-input-grid usa-input-grid-medium">
                    <input asp-for="CallerSecondaryPhoneNumber" />
                    <span asp-validation-for="CallerSecondaryPhoneNumber" class="usa-input-error-message"></span>
                </div>
                <div class="usa-input-grid usa-input-grid-small">
                    <select asp-for="CallerSecondaryPhoneType" asp-items="Model.SelectLists.PhoneTypesSelectList">
                        <option value="">@CTS.SelectPhoneTypeText</option>
                    </select>
                    <span asp-validation-for="CallerSecondaryPhoneType" class="usa-input-error-message"></span>
                </div>
            </div>

            <label asp-for="CallerTertiaryPhoneNumber"></label>
            <div>
                <div class="usa-input-grid usa-input-grid-medium">
                    <input asp-for="CallerTertiaryPhoneNumber" />
                    <span asp-validation-for="CallerTertiaryPhoneNumber" class="usa-input-error-message"></span>
                </div>
                <div class="usa-input-grid usa-input-grid-small">
                    <select asp-for="CallerTertiaryPhoneType" asp-items="Model.SelectLists.PhoneTypesSelectList">
                        <option value="">@CTS.SelectPhoneTypeText</option>
                    </select>
                    <span asp-validation-for="CallerTertiaryPhoneType" class="usa-input-error-message"></span>
                </div>
            </div>
        </fieldset>
        <fieldset class="usa-width-one-half">
            <legend>Caller address</legend>
            <label asp-for="CallerStreet"></label>
            <input asp-for="CallerStreet" />
            <span asp-validation-for="CallerStreet" class="usa-input-error-message"></span>

            <label asp-for="CallerStreet2"></label>
            <input asp-for="CallerStreet2" />
            <span asp-validation-for="CallerStreet2" class="usa-input-error-message"></span>

            <label asp-for="CallerCity"></label>
            <input asp-for="CallerCity" />
            <span asp-validation-for="CallerCity" class="usa-input-error-message"></span>

            <div>
                <div class="usa-input-grid usa-input-grid-medium">
                    <label asp-for="CallerStateId"></label>
                    <select asp-for="CallerStateId" asp-items="Model.SelectLists.StatesSelectList">
                        <option value="">@CTS.SelectStateText</option>
                    </select>
                    <span asp-validation-for="CallerStateId" class="usa-input-error-message"></span>
                </div>
                <div class="usa-input-grid usa-input-grid-small">
                    <label asp-for="CallerPostalCode"></label>
                    <input asp-for="CallerPostalCode" class="usa-input-medium" />
                    <span asp-validation-for="CallerPostalCode" class="usa-input-error-message"></span>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<h2>Complaint</h2>
<div id="complaint">
    <div class="usa-grid-full">
        <div class="usa-width-one-half">
            <label asp-for="ComplaintNature"></label>
            <textarea asp-for="ComplaintNature"></textarea>
            <span asp-validation-for="ComplaintNature" class="usa-input-error-message"></span>

            <label asp-for="ComplaintLocation"></label>
            <textarea asp-for="ComplaintLocation"></textarea>
            <span asp-validation-for="ComplaintLocation" class="usa-input-error-message"></span>

            <label asp-for="ComplaintDirections"></label>
            <textarea asp-for="ComplaintDirections"></textarea>
            <span asp-validation-for="ComplaintDirections" class="usa-input-error-message"></span>
        </div>
        <div class="usa-width-one-half">
            <label asp-for="ComplaintCity"></label>
            <input asp-for="ComplaintCity" />
            <span asp-validation-for="ComplaintCity" class="usa-input-error-message"></span>

            <label asp-for="ComplaintCountyId"></label>
            <select asp-for="ComplaintCountyId" asp-items="Model.SelectLists.CountiesSelectList">
                <option value="">@CTS.SelectCountyText</option>
            </select>
            <span asp-validation-for="ComplaintCountyId" class="usa-input-error-message"></span>

            <label asp-for="PrimaryConcernId"></label>
            <select asp-for="PrimaryConcernId" asp-items="Model.SelectLists.AreasOfConcernSelectList">
                <option value="">@CTS.SelectConcernText</option>
            </select>
            <span asp-validation-for="PrimaryConcernId" class="usa-input-error-message"></span>

            <label asp-for="SecondaryConcernId"></label>
            <select asp-for="SecondaryConcernId" asp-items="Model.SelectLists.AreasOfConcernSelectList">
                <option value="">@CTS.SelectConcernText</option>
            </select>
            <span asp-validation-for="SecondaryConcernId" class="usa-input-error-message"></span>
        </div>
    </div>
</div>

<h2>Source</h2>
<div id="source">
    <div class="usa-grid-full">
        <fieldset class="usa-width-one-half">
            <legend>Source info</legend>
            <label asp-for="SourceFacilityId"></label>
            <input asp-for="SourceFacilityId" />
            <span asp-validation-for="SourceFacilityId" class="usa-input-error-message"></span>

            <label asp-for="SourceContactName"></label>
            <input asp-for="SourceContactName" />
            <span asp-validation-for="SourceContactName" class="usa-input-error-message"></span>

            <label asp-for="SourceFacilityName"></label>
            <input asp-for="SourceFacilityName" />
            <span asp-validation-for="SourceFacilityName" class="usa-input-error-message"></span>

            <label asp-for="SourceEmail"></label>
            <input asp-for="SourceEmail" />
            <span asp-validation-for="SourceEmail" class="usa-input-error-message"></span>

            <label asp-for="SourcePhoneNumber"></label>
            <div>
                <div class="usa-input-grid usa-input-grid-medium">
                    <input asp-for="SourcePhoneNumber" />
                    <span asp-validation-for="SourcePhoneNumber" class="usa-input-error-message"></span>
                </div>
                <div class="usa-input-grid usa-input-grid-small">
                    <select asp-for="SourcePhoneType" asp-items="Model.SelectLists.PhoneTypesSelectList">
                        <option value="">@CTS.SelectPhoneTypeText</option>
                    </select>
                    <span asp-validation-for="SourcePhoneType" class="usa-input-error-message"></span>
                </div>
            </div>

            <label asp-for="SourceSecondaryPhoneNumber"></label>
            <div>
                <div class="usa-input-grid usa-input-grid-medium">
                    <input asp-for="SourceSecondaryPhoneNumber" />
                    <span asp-validation-for="SourceSecondaryPhoneNumber" class="usa-input-error-message"></span>
                </div>
                <div class="usa-input-grid usa-input-grid-small">
                    <select asp-for="SourceSecondaryPhoneType" asp-items="Model.SelectLists.PhoneTypesSelectList">
                        <option value="">@CTS.SelectPhoneTypeText</option>
                    </select>
                    <span asp-validation-for="SourceSecondaryPhoneType" class="usa-input-error-message"></span>
                </div>
            </div>

            <label asp-for="SourceTertiaryPhoneNumber"></label>
            <div>
                <div class="usa-input-grid usa-input-grid-medium">
                    <input asp-for="SourceTertiaryPhoneNumber" />
                    <span asp-validation-for="SourceTertiaryPhoneNumber" class="usa-input-error-message"></span>
                </div>
                <div class="usa-input-grid usa-input-grid-small">
                    <select asp-for="SourceTertiaryPhoneType" asp-items="Model.SelectLists.PhoneTypesSelectList">
                        <option value="">@CTS.SelectPhoneTypeText</option>
                    </select>
                    <span asp-validation-for="SourceTertiaryPhoneType" class="usa-input-error-message"></span>
                </div>
            </div>
        </fieldset>
        <fieldset class="usa-width-one-half">
            <legend>Source address</legend>
            <label asp-for="SourceStreet"></label>
            <input asp-for="SourceStreet" />
            <span asp-validation-for="SourceStreet" class="usa-input-error-message"></span>

            <label asp-for="SourceStreet2"></label>
            <input asp-for="SourceStreet2" />
            <span asp-validation-for="SourceStreet2" class="usa-input-error-message"></span>

            <label asp-for="SourceCity"></label>
            <input asp-for="SourceCity" />
            <span asp-validation-for="SourceCity" class="usa-input-error-message"></span>

            <div>
                <div class="usa-input-grid usa-input-grid-medium">
                    <label asp-for="SourceStateId"></label>
                    <select asp-for="SourceStateId" asp-items="Model.SelectLists.StatesSelectList">
                        <option value="">@CTS.SelectStateText</option>
                    </select>
                    <span asp-validation-for="SourceStateId" class="usa-input-error-message"></span>
                </div>
                <div class="usa-input-grid usa-input-grid-small">
                    <label asp-for="SourcePostalCode"></label>
                    <input asp-for="SourcePostalCode" class="usa-input-medium" />
                    <span asp-validation-for="SourcePostalCode" class="usa-input-error-message"></span>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="gaepd-buttonrow">
    <button type="submit">Save Complaint</button>
    <a asp-action="Details" asp-route-id="@Model.Id" class="usa-button usa-button-outline">Cancel</a>
</div>
</form>

@section PageScripts {
    <script type="text/javascript">
        $(function domReady() {

            // Set up date/time pickers
            $('.datepicker')
                .datepicker({
                    dateFormat: 'm-d-yy'
                })
                .attr("placeholder", "m-d-yyyy");

            var interval = 30;
            $('.timepicker').timepicker({
                timeFormat: 'h:mm p',
                interval: interval,
                dropdown: true,
                scrollbar: true,
            });

        });
    </script>
}