@model ComplaintPublicDetailsViewModel

@{
    ViewData["Title"] = $"Complaint ID {Model.Id}";
}

<h1 id="details">
    @ViewData["Title"] <em>&mdash; Public Details</em>
</h1>

<p><small>Report generated on @String.Format(CTS.FormatDateTimeDisplay, DateTime.Now).</small></p>

<p>This Complaint is still under investigation, but the following details may be shared with the public.</p>

<h2 id="status">Status: <em>@Model.Status.GetDisplayName()</em></h2>

<table class="gaepd-table-compact gaepd-table-rowheadings gaepd-table-autowidth">
    <tbody>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.DateReceived)</th>
            <td>@Html.DisplayFor(model => model.DateReceived)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.CurrentOffice)</th>
            <td>@Html.DisplayFor(model => model.CurrentOffice.Name)</td>
        </tr>
    </tbody>
</table>

<h2 id="complaint">Complaint</h2>

<p class="gaepd-preserve-linebreaks">@Html.DisplayFor(model => model.ComplaintNature)</p>

<table class="gaepd-table-compact gaepd-table-rowheadings gaepd-table-autowidth">
    <tbody>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.PrimaryConcern)</th>
            <td>@Html.DisplayFor(model => model.PrimaryConcern.Name)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.SecondaryConcern)</th>
            <td>@Html.DisplayFor(model => model.SecondaryConcern.Name)</td>
        </tr>
    </tbody>
</table>

<table class="gaepd-table-compact gaepd-table-rowheadings gaepd-table-autowidth">
    <tbody>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.ComplaintLocation)</th>
            <td class="gaepd-preserve-linebreaks">@Html.DisplayFor(model => model.ComplaintLocation)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.ComplaintCity)</th>
            <td>@Html.DisplayFor(model => model.ComplaintCity)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.ComplaintCounty)</th>
            <td>@Html.DisplayFor(model => model.ComplaintCounty.Name)</td>
        </tr>
    </tbody>
</table>

<h2 id="source">Source</h2>

<table class="gaepd-table-compact gaepd-table-rowheadings gaepd-table-autowidth">
    <tbody>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.SourceFacilityId)</th>
            <td>@Html.DisplayFor(model => model.SourceFacilityId)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.SourceContactName)</th>
            <td>@Html.DisplayFor(model => model.SourceContactName)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.SourceFacilityName)</th>
            <td>@Html.DisplayFor(model => model.SourceFacilityName)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => model.SourceAddress)</th>
            <td class="gaepd-preserve-linebreaks">@Html.DisplayFor(model => model.SourceAddress)</td>
        </tr>
    </tbody>
</table>
