@page "{handler?}"
@using Cts.AppServices.Complaints.QueryDto
@using Cts.WebApp.Pages.Shared.Components.Notifications
@using Cts.WebApp.Platform.PageModelHelpers
@model IndexModel
@{
    ViewData["Title"] = "Public Complaint Search";
}
<vc:notifications />

<div class="row">
    <div class="col-lg-9">
        <div class="callout callout-info">
            The Complaint Tracking System Public Inquiry Portal includes information for all complaints received by
            the Georgia Environmental Protection Division (EPD) from third parties after January&nbsp;1,&nbsp;1998,
            for which EPD’s investigation of the complaint has concluded.
        </div>
    </div>
</div>

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-lg-9">
        <p>Use this form to search and review publicly available complaint information.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="p-3 rounded-3 bg-light-subtle border mt-3 mb-5 col-lg-9">
            <h2 class="h3 mb-3">Find by Complaint ID</h2>
            <form method="post" class="row row-cols-sm-auto align-items-center" role="search">
                <div class="col-12">
                    <label class="visually-hidden" asp-for="FindId">Complaint ID</label>
                    <div class="input-group input-group-lg">
                        <input asp-for="FindId" class="form-control" type="search" placeholder="Complaint ID"
                               aria-label="Search" />
                        <button class="btn btn-primary" type="submit">View</button>
                    </div>
                </div>
                <span asp-validation-for="FindId" class="text-danger-emphasis"></span>
            </form>
        </div>
    </div>
</div>

<h2>Search by Complaint Details</h2>
<div class="container">
    <div class="row">
        <div class="p-3 rounded-3 bg-light-subtle border col-lg-9">
            <div class="text-body-secondary pb-2">
                <em>All fields are optional.</em>
            </div>
            <form method="get" asp-page-handler="Search" asp-fragment="SearchResults">
                <h3 class="h4">Date Complaint Received</h3>
                <div class="mb-3">
                    <div class="input-group">
                        <div class="form-floating">
                            <input asp-for="Spec.DateFrom" name="@nameof(Model.Spec.DateFrom)" class="form-control" />
                            <label asp-for="Spec.DateFrom" class="form-label"></label>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Spec.DateTo" name="@nameof(Model.Spec.DateTo)" class="form-control" />
                            <label asp-for="Spec.DateTo" class="form-label"></label>
                        </div>
                    </div>
                </div>

                <h3 class="h4">Complaint Details</h3>
                <div class="row">
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <select asp-for="Spec.Status" name="@nameof(Model.Spec.Status)"
                                    asp-items="Html.GetEnumSelectList<PublicSearchStatus>()" class="form-select">
                                <option value="">@SelectOptions.SelectTextAny</option>
                            </select>
                            <label asp-for="Spec.Status" class="form-label"></label>
                        </div>
                    </div>
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <select asp-for="Spec.Concern" name="@nameof(Model.Spec.Concern)"
                                    asp-items="Model.ConcernsSelectList" class="form-select">
                                <option value="">@SelectOptions.SelectTextAny</option>
                            </select>
                            <label asp-for="Spec.Concern" class="form-label"></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <input asp-for="Spec.SourceName" name="@nameof(Model.Spec.SourceName)" class="form-control"
                                   aria-describedby="SourceNameHelpBlock" />
                            <label asp-for="Spec.SourceName" class="form-label"></label>
                        </div>
                        <small id="SourceNameHelpBlock" class="form-text text-body-secondary d-block px-2">(The entity
                            associated with the incident.)</small>
                    </div>
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <input asp-for="Spec.Description" name="@nameof(Model.Spec.Description)"
                                   class="form-control" aria-describedby="DescriptionHelpBlock" />
                            <label asp-for="Spec.Description" class="form-label"></label>
                        </div>
                        <small id="DescriptionHelpBlock" class="form-text text-body-secondary d-block px-2">(A word or
                            phrase to search for.)</small>
                    </div>
                </div>

                <h3 class="h4">Location</h3>
                <div class="row">
                    <div class="mb-3">
                        <div class="form-floating">
                            <select asp-for="Spec.County" name="@nameof(Model.Spec.County)"
                                    asp-items="IndexModel.CountiesSelectList" class="form-select">
                                <option value="">@SelectOptions.SelectTextAny</option>
                            </select>
                            <label asp-for="Spec.County" class="form-label"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <div class="row">
                            <div class="mb-3">
                                <div class="form-floating">
                                    <input asp-for="Spec.Street" name="@nameof(Model.Spec.Street)"
                                           class="form-control" />
                                    <label asp-for="Spec.Street" class="form-label"></label>
                                </div>
                            </div>
                            <div class="col-md-5 mb-3">
                                <div class="form-floating">
                                    <input asp-for="Spec.City" name="@nameof(Model.Spec.City)" class="form-control" />
                                    <label asp-for="Spec.City" class="form-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-8 col-md-4 mb-3">
                                <div class="form-floating">
                                    <select asp-for="Spec.State" name="@nameof(Model.Spec.State)"
                                            asp-items="IndexModel.StatesSelectList" class="form-select">
                                        <option value="">@SelectOptions.SelectTextAny</option>
                                    </select>
                                    <label asp-for="Spec.State" class="form-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3 mb-3">
                                <div class="form-floating">
                                    <input asp-for="Spec.PostalCode" name="@nameof(Model.Spec.PostalCode)"
                                           class="form-control" />
                                    <label asp-for="Spec.PostalCode" class="form-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-3 mb-1">
                    <button id="SearchButton" type="submit" class="btn btn-primary col-sm-3 me-2">Search</button>
                    <a asp-page="Index" class="btn btn-outline-secondary col-sm-3 col-md-2">Clear Form</a>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model.ShowResults)
{
    <div id="SearchResults" class="mt-4">
        <h3>Search Results</h3>

        @if (Model.SearchResults.TotalCount == 0)
        {
            <p class="lead text-info">No matching results found.</p>
        }
        else
        {
            <partial name="_ComplaintSearchResultPartial" model="Model.ResultsDisplay" />
        }
    </div>
}

@section Scripts {
    <script src="~/js/dateValidation.js"></script>
    <script src="~/js/formSearch.js"></script>
    <script asp-add-content-to-csp>
        document.addEventListener("DOMContentLoaded", function () {
            datePairs(
                "Spec_DateFrom",
                "Spec_DateTo",
                "Received FROM Date",
                "Received THROUGH Date"
            );
        });
    </script>
}
