@model ReportComplaintsByCountyViewModel

@{
    ViewData["Title"] = "Report: " + Model.Title;
}

<h1>@ViewData["Title"]</h1>

<p class="gaepd-noprint"><em>Warning: report may load slowly.</em></p>

<form asp-action="@Model.CurrentAction" method="get">
    <div role="search" class="usa-grid-full">
        <div class="usa-width-one-sixth">
            <label asp-for="BeginDate"></label>
            <input asp-for="BeginDate" class="datepicker" />
        </div>
        <div class="usa-width-one-sixth">
            <label asp-for="EndDate"></label>
            <input asp-for="EndDate" class="datepicker" />
        </div>
    </div>
    <div>
        <button type="submit"><span class="usa-search-submit-text">Open</span></button>
    </div>
</form>

@if (Model.Counties != null && Model.Counties.Count() > 0)
{
    int i = 0;
    @foreach (var county in Model.Counties)
    {
        @if (county.Complaints != null && county.Complaints.Count() > 0)
        {
            i = i + 1;

            <h2>@county.Name</h2>
            <p class="gaepd-noprint">
                Total complaints: @county.Complaints.Count()
            </p>
            <table class="gaepd-table-autowidth gaepd-table-responsive gaepd-table-compact">
                <thead>
                    <tr>
                        <th scope="col" class="gaepd-text-nowrap">@Html.DisplayNameFor(model => county.Complaints.FirstOrDefault().Id)</th>
                        <th scope="col">@Html.DisplayNameFor(model => county.Complaints.FirstOrDefault().Status)</th>
                        <th scope="col">@Html.DisplayNameFor(model => county.Complaints.FirstOrDefault().AssignedTo)</th>
                        <th scope="col">@Html.DisplayNameFor(model => county.Complaints.FirstOrDefault().SourceFacilityName)</th>
                        <th scope="col">@Html.DisplayNameFor(model => county.Complaints.FirstOrDefault().DateReceived)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var complaint in county.Complaints)
                    {
                        <tr>
                            <th scope="row" data-label="@Html.DisplayNameFor(m => complaint.Id)">
                                <a class="usa-button usa-button-outline" asp-action="Details" asp-controller="Complaints" asp-route-id="@complaint.Id">@Html.DisplayFor(m => complaint.Id)</a>
                            </th>
                            <td data-label="@Html.DisplayNameFor(m => complaint.Status)">@Html.DisplayFor(m => complaint.Status)</td>
                            <td data-label="@Html.DisplayNameFor(m => complaint.AssignedTo)">@Html.DisplayFor(m => complaint.AssignedTo)</td>
                            <td data-label="@Html.DisplayNameFor(m => complaint.SourceFacilityName)">@Html.DisplayFor(m => complaint.SourceFacilityName)</td>
                            <td data-label="@Html.DisplayNameFor(m => complaint.DateReceived)">@Html.DisplayFor(m => complaint.DateReceived)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }

    @if (i == 0)
    {
        <p>No complaints found.</p>
    }
}
else
{
    <p>No counties found.</p>
}

@section PageScripts {
    <script asp-add-content-to-csp>
        $(function domReady() {
            // Set up date picker
            $('.datepicker')
                .datepicker({
                    dateFormat: 'm-d-yy'
                })
                .attr("placeholder", "m-d-yyyy");
        });
    </script>
}
