@model ReportDaysSinceLastActionViewModel

@{
    ViewData["Title"] = "Report: " + Model.Title;
}

<h1>@ViewData["Title"]</h1>

<p class="gaepd-noprint"><em>Warning: report may load slowly.</em></p>

<form class="usa-search usa-search-big" asp-action="@Model.CurrentAction" method="get">
    <div role="search" class="usa-grid-full">
        <div class="usa-width-one-sixth">
            <label for="Threshold">Threshold</label>
            <select asp-for="Threshold" asp-items="Model.ThresholdSelectList"></select>
        </div>
        <div class="usa-width-five-sixths">
            <label for="Office">Office</label>
            <select asp-for="Office" asp-items="Model.OfficeSelectList" type="search"></select>
            <button type="submit"><span class="usa-search-submit-text">Open</span></button>
        </div>
    </div>
</form>

@if (Model.Staff != null && Model.Staff.Any())
{
    var i = 0;
    @foreach (var staff in Model.Staff)
    {
        @if (staff.Complaints != null && staff.Complaints.Any())
        {
            i += 1;

            <h2>@staff.Name</h2>
            <p class="gaepd-noprint">
                Total complaints: @staff.Complaints.Count()
            </p>
            <table class="gaepd-table-autowidth gaepd-table-responsive gaepd-table-compact">
                <thead>
                    <tr>
                        <th scope="col" class="gaepd-text-nowrap">@Html.DisplayNameFor(model => staff.Complaints.FirstOrDefault().Id)</th>
                        <th scope="col">@Html.DisplayNameFor(model => staff.Complaints.FirstOrDefault().ComplaintCounty)</th>
                        <th scope="col">@Html.DisplayNameFor(model => staff.Complaints.FirstOrDefault().SourceFacilityName)</th>
                        <th scope="col">@Html.DisplayNameFor(model => staff.Complaints.FirstOrDefault().DateReceived)</th>
                        <th scope="col">@Html.DisplayNameFor(model => staff.Complaints.FirstOrDefault().Status)</th>
                        <th scope="col">@Html.DisplayNameFor(model => staff.Complaints.FirstOrDefault().LastActionDate)</th>
                        <th scope="col">@Html.DisplayNameFor(model => staff.Complaints.FirstOrDefault().DaysSinceLastAction)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var complaint in staff.Complaints)
                    {
                        <tr>
                            <th scope="row" data-label="@Html.DisplayNameFor(m => complaint.Id)">
                                <a class="usa-button usa-button-outline" asp-action="Details" asp-controller="Complaints" asp-route-id="@complaint.Id">@Html.DisplayFor(m => complaint.Id)</a>
                            </th>
                            <td data-label="@Html.DisplayNameFor(m => complaint.ComplaintCounty)">@Html.DisplayFor(m => complaint.ComplaintCounty)</td>
                            <td data-label="@Html.DisplayNameFor(m => complaint.SourceFacilityName)">@Html.DisplayFor(m => complaint.SourceFacilityName)</td>
                            <td data-label="@Html.DisplayNameFor(m => complaint.DateReceived)">@Html.DisplayFor(m => complaint.DateReceived)</td>
                            <td data-label="@Html.DisplayNameFor(m => complaint.Status)">@Html.DisplayFor(m => complaint.Status)</td>
                            <td data-label="@Html.DisplayNameFor(m => complaint.LastActionDate)">@Html.DisplayFor(m => complaint.LastActionDate)</td>
                            <td data-label="@Html.DisplayNameFor(m => complaint.DaysSinceLastAction)">@Html.DisplayFor(m => complaint.DaysSinceLastAction)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }

    @if (i == 0)
    {
        <p>No complaints found.</p>
    }
}
else
{
    <p>No staff found.</p>
}
