@model ReportDaysToClosureByOfficeViewModel

@{
    ViewData["Title"] = "Report: " + Model.Title;
}

<h1>@ViewData["Title"]</h1>

<p class="gaepd-noprint"><em>Warning: report may load slowly.</em></p>

<form asp-action="@Model.CurrentAction" method="get">
    <div role="search" class="usa-grid-full">
        <div class="usa-width-one-sixth">
            <label asp-for="BeginDate"></label>
            <input asp-for="BeginDate" class="datepicker" />
        </div>
        <div class="usa-width-one-sixth">
            <label asp-for="EndDate"></label>
            <input asp-for="EndDate" class="datepicker" />
        </div>
    </div>
    <div class="usa-grid-full">
        <input asp-for="IncludeAdminClosed" />
        <label asp-for="IncludeAdminClosed"></label>
    </div>
    <div>
        <button type="submit"><span class="usa-search-submit-text">Open</span></button>
    </div>
</form>

@if (Model.Offices != null && Model.Offices.Count() > 0)
{
    <table class="gaepd-table-autowidth gaepd-table-responsive gaepd-table-compact">
        <thead>
            <tr>
                <th scope="col">Office</th>
                <th scope="col" class="gaepd-tablecell-alignright">Total complaints</th>
                <th scope="col" class="gaepd-tablecell-alignright">Average days to closure</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var office in Model.Offices)
            {
                <tr>
                    <th scope="row" data-label="Office">
                        <a asp-controller="Reports" asp-action="DaysToClosureByStaff"
                            asp-route-BeginDate="@(String.Format(CTS.FormatDateEdit, Model.BeginDate))"
                            asp-route-EndDate="@(String.Format(CTS.FormatDateEdit, Model.EndDate))"
                            asp-route-Office="@office.Id.ToString()">
                            @Html.DisplayFor(m => office.Name)
                        </a>
                    </th>
                    @if (office.Complaints != null)
                    {
                        <td data-label="Total complaints" class="gaepd-tablecell-alignright">@office.Complaints.Count()</td>
                        <td data-label="Average days to closure" class="gaepd-tablecell-alignright">@Html.DisplayFor(m => office.AverageDaysToClosure)</td>
                    }
                    else
                    {
                        <td colspan=2 data-label="Total complaints">No complaints found</td>
                    }
                </tr>
            }
        </tbody>
        <tfoot>
                <tr>
                    <th scope="row" data-label="Office">
                        <a asp-controller="Complaints" asp-action="Index"
                            asp-route-ComplaintStatus="3"
                            asp-route-DateComplaintClosedFrom="@(String.Format(CTS.FormatDateEdit, Model.BeginDate))"
                            asp-route-DateComplaintClosedTo="@(String.Format(CTS.FormatDateEdit, Model.EndDate))"
                            asp-route-submit="search"
                            asp-fragment="search-results">
                            Total
                        </a>
                    </th>
                    <td data-label="Total complaints" class="gaepd-tablecell-alignright">@Model.TotalComplaints</td>
                    <td data-label="Average days to closure" class="gaepd-tablecell-alignright">@Html.DisplayFor(m => Model.TotalAverageDaysToClosure)</td>
                </tr>
        </tfoot>
    </table>
}
else
{
    <p>No offices found.</p>
}

@section PageScripts {
    <script asp-add-content-to-csp>
        $(function domReady() {
            // Set up date picker
            $('.datepicker')
                .datepicker({
                    dateFormat: 'm-d-yy'
                })
                .attr("placeholder", "m-d-yyyy");
        });
    </script>
}
