@model ReportViewModel

@{
    ViewData["Title"] = "Report: " + Model.Title;
    string selectText = "(any)";
}

<h1>@ViewData["Title"]</h1>

@if (Model.UseDate || Model.UseOfficeSelect)
{
    <form class="usa-search usa-search-big" asp-action="@Model.CurrentAction" method="get">
        <div role="search">
            @if (Model.UseDate && Model.UseOfficeSelect)
            {
                <div class="display-inline-block">
                    @Html.LabelFor(m => m.SelectedDate)
                    @Html.EditorFor(m => m.SelectedDate, new { htmlAttributes = new { @class = "datepicker usa-input-medium" } })
                </div>
                <div class="display-inline-block">
                    @Html.LabelFor(m => m.Office)
                    @Html.DropDownListFor(m => m.Office, Model.OfficeSelectList, selectText, htmlAttributes: new { @type = "search" })
                    <button type="submit"><span class="usa-search-submit-text">Open</span></button>
                </div>
            }
            else if (Model.UseDate)
            {
                    @Html.LabelFor(m => m.SelectedDate)
                    @Html.EditorFor(m => m.SelectedDate, new { htmlAttributes = new { @class = "datepicker usa-input-medium", @type = "search" } })
                    <button type="submit"><span class="usa-search-submit-text">Open</span></button>
            }
            else if (Model.UseOfficeSelect)
            {
                    @Html.DropDownListFor(m => m.Office, Model.OfficeSelectList, htmlAttributes: new { @type = "search" })
                    <button type="submit"><span class="usa-search-submit-text">Open</span></button>
            }
        </div>
    </form>
}

@if (Model.Complaints != null && Model.Complaints.Count() > 0)
{
    @if (Model.Complaints.Count() == 1)
    {
        <p>One complaint found.</p>
    }
    else
    {
        <p>@Model.Complaints.Count() complaints found.</p>
    }

    <table class="usa-table-borderless gaepd-table-autowidth gaepd-table-responsive">
        <thead>
            <tr>
                <th scope="col" class="gaepd-text-nowrap">@Html.DisplayNameFor(model => Model.Complaints.FirstOrDefault().Id)</th>
                <th scope="col">@Html.DisplayNameFor(model => Model.Complaints.FirstOrDefault().DateReceived)</th>
                <th scope="col">@Html.DisplayNameFor(model => Model.Complaints.FirstOrDefault().Status)</th>
                <th scope="col">@Html.DisplayNameFor(model => Model.Complaints.FirstOrDefault().SourceFacilityName)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Complaints)
            {
                <tr>
                    <th scope="row" data-label="@Html.DisplayNameFor(m => item.Id)">
                        <a class="usa-button usa-button-outline" asp-action="Details" asp-controller="Complaints" asp-route-id="@item.Id">@Html.DisplayFor(m => item.Id)</a>
                    </th>
                    <td data-label="@Html.DisplayNameFor(m => item.DateReceived)">@Html.DisplayFor(m => item.DateReceived)</td>
                    <td data-label="@Html.DisplayNameFor(m => item.Status)">@item.Status.GetDisplayName()</td>
                    <td data-label="@Html.DisplayNameFor(m => item.SourceFacilityName)">
                        @Html.DisplayFor(m => item.SourceFacilityName)
                        @if (item.SourceLocation != null)
                        {
                            <br />@Html.DisplayFor(m => item.SourceLocation)
                        }
                        <br />ID: @Html.DisplayFor(m => item.SourceFacilityId)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.ComplaintsExpanded != null && Model.ComplaintsExpanded.Count() > 0)
{
    @if (Model.ComplaintsExpanded.Count() == 1)
    {
        <p>One complaint found.</p>
    }
    else
    {
        <p>@Model.ComplaintsExpanded.Count() complaints found.</p>
    }

    <ol>
        @foreach (var item in Model.ComplaintsExpanded)
        {
            <li>
                <table class="gaepd-table-compact gaepd-table-rowheadings gaepd-table-autowidth">
                    <tbody>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(m => item.Id)</th>
                            <td>@Html.DisplayFor(m => item.Id)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(m => item.PrimaryConcernName)</th>
                            <td>@Html.DisplayFor(m => item.PrimaryConcernName)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(m => item.SecondaryConcernName)</th>
                            <td>@Html.DisplayFor(m => item.SecondaryConcernName)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(m => item.DateReceived)</th>
                            <td>@Html.DisplayFor(m => item.DateReceived)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(m => item.Status)</th>
                            <td>@item.Status.GetDisplayName()</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(m => item.SourceFacilityName)</th>
                            <td>
                                @Html.DisplayFor(m => item.SourceFacilityName)<br />
                                ID: @Html.DisplayFor(m => item.SourceFacilityId)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(m => item.SourceCity)</th>
                            <td>@Html.DisplayFor(m => item.SourceCity)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(m => item.CountyName)</th>
                            <td>@Html.DisplayFor(m => item.CountyName)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(m => item.Nature)</th>
                            <td>@Html.DisplayFor(m => item.Nature)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(m => item.Location)</th>
                            <td>@Html.DisplayFor(m => item.Location)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(m => item.AssignedOffice)</th>
                            <td>
                                @Html.DisplayFor(m => item.AssignedOffice),
                                @Html.DisplayFor(m => item.AssignedStaff)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
        }
    </ol>
}
else
{
    <p>None.</p>
}

@if (Model.UseDate)
{
    @section PageScripts {
        <script asp-add-content-to-csp>
            $(function domReady() {
                // Set up date picker
                $('.datepicker')
                    .datepicker({
                        dateFormat: 'm-d-yy'
                    })
                    .attr("placeholder", "m-d-yyyy");
            });
        </script>
    }
}