@model ActionTypeIndexViewModel

@{
    ViewData["Title"] = "Complaint Action Types";
    string rowclass = "";
}

<h1>@ViewData["Title"]</h1>

@if (User.IsInRole(CtsRole.DivisionManager.ToString()))
{
    <p>
        <a asp-action="Create" class="usa-button usa-button-outline">Create new</a>
    </p>
}

<table class="usa-table-borderless gaepd-table-responsive">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.ActionTypes.FirstOrDefault().Name)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.ActionTypes.FirstOrDefault().Active)</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ActionTypes)
        {
            rowclass = "";
            if (!item.Active)
            {
                rowclass = "gaepd-tablerow-dimmed";
            }
            <tr class="@rowclass">
                <th scope="row" data-label="@Html.DisplayNameFor(model => item.Name)">@Html.DisplayFor(m => item.Name)</th>
                <td data-label="@Html.DisplayNameFor(model => item.Active)">@Html.DisplayFor(m => item.Active)</td>
                <td data-label="Actions">
                    <a class="usa-button usa-button-outline gaepd-button-inline-action" asp-action="Details" asp-route-id="@item.Id">View</a>
                    @if (User.IsInRole(CtsRole.DivisionManager.ToString()))
                    {
                        <a class="usa-button usa-button-outline gaepd-button-inline-action" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                </td>    
            </tr>
        }
    </tbody>
</table>
