@using Cts.WebApp.Pages.Shared.DisplayTemplates
@using Cts.WebApp.Platform.Constants
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Cts.AppServices.Attachments.Dto.AttachmentViewDto

@if (Model.IsImage)
{
    <a asp-page="Attachment/Index" asp-route-id="@Model.Id.ToString()" asp-route-fileName="@Model.FileName"
       data-fancybox="attachment" data-caption="@Model.FileName"
       target="_blank" class="text-decoration-hover rounded d-block no-external-link">
        <img src="~/Staff/Complaints/Attachment/@Model.Id.ToString()/@Uri.EscapeDataString(Model.FileName)?thumbnail=true"
             class="img-thumbnail rounded me-2" alt="Image "
             width="@GlobalConstants.ThumbnailSize.ToString()" height="@GlobalConstants.ThumbnailSize.ToString()" />
        @Model.FileName
    </a>
}
else
{
    <a asp-page="Attachment/Index" asp-route-id="@Model.Id.ToString()" asp-route-fileName="@Model.FileName" target="_blank"
       class="text-decoration-hover rounded d-block p-2 no-external-link">
        @Html.DisplayFor(dto => dto.FileExtension, DisplayTemplate.FileTypeIcon) @Model.FileName
    </a>
}
