@using Cts.WebApp.Pages.Shared.DisplayTemplates
@model IReadOnlyList<Cts.AppServices.Complaints.QueryDto.ComplaintSearchResultDto>

@if (Model.Count == 0)
{
    <p>
        <em>None.</em>
    </p>
}
else
{
    <div class="table-responsive-md">
        <table class="table table-borderless table-hover" aria-describedby="my-open-complaints">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Received</th>
                <th scope="col">Status</th>
                <th scope="col">Source/Location</th>
            </tr>
            </thead>

            <tbody>
            @foreach (var dto in Model)
            {
                <tr>
                    <th scope="row">
                        <a asp-page="Complaints/Details" asp-route-id="@dto.Id.ToString()" class="btn btn-outline-primary btn-sm">@dto.Id.ToString()</a>
                    </th>
                    <td class="text-nowrap">@Html.DisplayFor(_ => dto.ReceivedDate, DisplayTemplate.ShortDate)</td>
                    <td>@Html.DisplayFor(_ => dto.Status)</td>
                    <td>
                        @Html.DisplayFor(_ => dto.SourceFacilityName, DisplayTemplate.StringOrPlaceholder)
                        <ul>
                            @if (dto.SourceFacilityIdNumber != null)
                            {
                                <li>ID: @dto.SourceFacilityIdNumber</li>
                            }
                            @if (dto.ComplaintCounty != null)
                            {
                                <li>@Html.DisplayFor(_ => dto.ComplaintCounty, DisplayTemplate.County)</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
