@{
    ViewData["Title"] = "CTS Support";
    var accountMailto = $"mailto:{CTS.AccountAdminEmail}?subject=CTS Account";
    var supportMailto = $"mailto:{CTS.SupportEmail}?subject=CTS Support Request";

    var v = System.Reflection.Assembly.GetEntryAssembly()?.GetName().Version;
    var ctsVersion = v is null ? string.Empty : new Version(v.Major, v.Minor, v.Build).ToString();
}

<h1>Support</h1>
<ul>
    <li>
        <a href="~/static/Complaint-Tracking-System-Instructions.pdf" target="_blank">General Instructions (<abbr>PDF</abbr>)</a>
    </li>
    <li>
        <a href="~/static/Complaint-Attachments-Policy.pdf" target="_blank">Complaint Attachments Policy (<abbr>PDF</abbr>)</a>
    </li>
    <li>For account management requests, contact <a href="@accountMailto">@CTS.AccountAdminEmail</a></li>
    <li>For technical support, contact <a href="@supportMailto">@CTS.SupportEmail</a></li>
</ul>

<details>
    <summary>
        <h2>Change Log</h2>
    </summary>

    <h3>November 4, 2019</h3>
    <p>Added "User Admin" role to help manage account registrations.</p>

    <h3>August 8, 2018</h3>
    <p>Added new report: <a asp-controller="Reports" asp-action="DaysToClosureByOffice">Days to Closure By Office</a></p>

    <h3>July 24, 2018</h3>
    <p>File attachments are now available to view/download on the public portal.</p>

    <h3>May 31, 2018</h3>
    <ul>
        <li>Enabled attaching PowerPoint files to Complaints.</li>
        <li>Added two new <a asp-controller="Reports" asp-action="Index">error reports</a>.</li>
    </ul>

    <h3>May 4, 2018</h3>
    <ul class="gaepd-list-custom gaepd-list-rocket">
        <li>
            Today we are proud to announce that we are launching the ability to add file attachments to complaints.
            Currently, attachments are only available to view when logged in, but the plan is to make them available
            to the public after a brief trial period.
        </li>
    </ul>

    <h3>January 9, 2018</h3>
    <p>
        Added ability to export Complaint search results as a CSV file.
        This is only available if fewer than 500 search results are returned.
    </p>

    <h3>January 2, 2018</h3>
    <p>
        Happy New Year! Today we are launching the 
        <a asp-controller="Public" asp-action="Index">Public Portal</a>, allowing
        the public to search for and view closed complaints.
    </p>
    <p>The following new features were also added:</p>
    <ul>
        <li>Increased the space allowed for recording Nature of Complaint and Complaint Action Comments.</li>
        <li>Added a <a asp-controller="Export" asp-action="Index">data exporter</a> for use in responding to some GORA requests.</li>
    </ul>

    <h3>December 18, 2017</h3>
    <p>The following new features were added:</p>
    <ul>
        <li>Three <a asp-controller="Reports" asp-action="Index">new reports</a> have been added.</li>
        <li>The length of text entered into some forms has been limited, so that error messages are avoided.</li>
        <li>Complaints can now be reassigned by the manager when they are not approved.</li>
        <li>Comments added by reviewers are now included in emails.</li>
    </ul>

    <h3>November 21, 2017</h3>
    <ul>
        <li>Added PDF instructions to Support Page</li>
        <li>Added new report: <a asp-controller="Reports" asp-action="DaysToClosureByStaff">Days to Closure By Staff</a></li>
        <li>Added account images (avatars)</li>
    </ul>

    <h3>October 19, 2017</h3>
    <ul>
        <li>
            The Complaint and Complaint Action search forms now include inactive employees for searching.
            Additionally, each employee's office location is listed making it easier to find the right person.
        </li>
        <li>
            The Complaint search form also now allows you search for source address.
        </li>
        <li>
            The Dashboard for managers displays additional sections like “Complaints Pending Review” even if those sections are empty.
        </li>
    </ul>

    <h3>September 30, 2017</h3>
    <ul class="gaepd-list-custom gaepd-list-rocket">
        <li>Site launched</li>
    </ul>
</details>

<details>
    <summary>
        <h2>Credits</h2>
    </summary>

    <p>
        Copyright © 2017 – @DateTime.Now.Year State of Georgia.
        The CTS was developed by Georgia EPD-IT. Current version: <em>@ctsVersion</em>.
    </p>
    <p>The CTS uses the following open source components.</p>
    <ul>
        <li><a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.0">ASP.NET Core</a> (<a href="https://github.com/aspnet/Home/blob/dev/LICENSE.txt">License</a>)</li>
        <li><a href="https://designsystem.digital.gov/">U.S. Web Design System</a> (<a href="https://github.com/uswds/uswds/blob/develop/LICENSE.md">License</a>)</li>
        <li><a href="https://jquery.com/">jQuery</a> (<a href="https://jquery.org/license/">License</a>)</li>
        <li><a href="https://timepicker.co/">jQuery Timepicker</a> (<a href="https://github.com/wvega/timepicker#license">License</a>)</li>
        <li><a href="https://github.com/jstedfast/MailKit">MailKit</a> (<a href="https://github.com/jstedfast/MailKit#license-information">License</a>)</li>
        <li><a href="https://fontawesome.com/">Font Awesome</a> (<a href="https://fontawesome.com/license">License</a>)</li>
        <li><a href="https://github.com/SixLabors/ImageSharp">ImageSharp</a> (<a href="https://github.com/SixLabors/ImageSharp/blob/master/LICENSE">License</a>)</li>
        <li><a href="https://fancyapps.com/fancybox/">FancyBox</a> (<a href="https://fancyapps.com/fancybox/3/#license">License</a>)</li>
        <li><a href="https://joshclose.github.io/CsvHelper/">CsvHelper</a> (<a href="https://joshclose.github.io/CsvHelper/#license">License</a>)</li>
        <li><a href="https://github.com/MindscapeHQ/raygun4net">Raygun4Net</a> (<a href="https://github.com/MindscapeHQ/raygun4net/blob/master/LICENSE">License</a>)</li>
    </ul>
</details>

@section PageStyles {
    <style>
        .usa-content ul:not(.usa-accordion):not(.usa-accordion-bordered) { max-width: none; }
        .gaepd-list-custom { list-style: none; margin-left: 0; padding-left: .5em; }
        .gaepd-list-custom li { padding-left: 1.44em; text-indent: -1.44em; }
        .gaepd-list-custom li:before { padding-right: .44em; }
        .gaepd-list-rocket li:before { content: "🚀"; }
        details summary { cursor: pointer; }
        summary { display: list-item; }
        summary h2 { display: inline-block; margin-top: .5em; }
        summary::marker { font-size: 3rem; }
    </style>
}