@{
    ViewData["Title"] = "CTS Support";
    var accountMailto = $"mailto:{CTS.AccountAdminEmail}?subject=CTS Account";
    var supportMailto = $"mailto:{CTS.SupportEmail}?subject=CTS Support Request";

    var v = System.Reflection.Assembly.GetEntryAssembly()?.GetName().Version;
    var ctsVersion = v is null ? string.Empty : new Version(v.Major, v.Minor, v.Build).ToString();
}

<h1>Support</h1>
<ul>
    <li>
        <a href="~/static/Complaint-Tracking-System-Instructions.pdf" target="_blank">General Instructions (<abbr>PDF</abbr>)</a>
    </li>
    <li>
        <a href="~/static/Complaint-Attachments-Policy.pdf" target="_blank">Complaint Attachments Policy (<abbr>PDF</abbr>)</a>
    </li>
    <li>For account management requests, contact <a href="@accountMailto">@CTS.AccountAdminEmail</a></li>
    <li>For technical support, contact <a href="@supportMailto">@CTS.SupportEmail</a></li>
</ul>

<p>
    Copyright © 2017 – @DateTime.Now.Year State of Georgia.<br />
    The CTS was developed by Georgia EPD-IT.<br />
    @if (ctsVersion != "")
    {
        <text>Current version: <em>@ctsVersion</em>.</text>
    }
</p>

<details>
    <summary>
        <h2>Open Source Licenses</h2>
    </summary>

    <p>CTS gratefully uses the following open source components.</p>
    <ul>
        <li><a href="https://dotnet.microsoft.com/apps/aspnet">ASP.NET</a> (<a href="https://github.com/dotnet/aspnetcore/blob/main/LICENSE.txt">MIT License</a>)</li>
        <li><a href="https://docs.microsoft.com/en-us/ef/">Entity Framework</a> (<a href="https://github.com/dotnet/efcore/blob/main/LICENSE.txt">MIT License</a>)</li>
        <li><a href="https://designsystem.digital.gov/">U.S. Web Design System</a> (<a href="https://github.com/uswds/uswds/blob/develop/LICENSE.md">License</a>)</li>
        <li><a href="https://jquery.com/">jQuery</a> (<a href="https://jquery.org/license/">MIT License</a>)</li>
        <li><a href="https://jqueryvalidation.org/">jQuery Validation</a> (<a href="https://github.com/jquery-validation/jquery-validation/blob/master/LICENSE.md">MIT License</a>)</li>
        <li><a href="https://timepicker.co/">jQuery Timepicker</a> (<a href="https://github.com/wvega/timepicker#license">License</a>)</li>
        <li><a href="https://github.com/jstedfast/MailKit">MailKit</a> (<a href="https://github.com/jstedfast/MailKit/blob/master/LICENSE">MIT License</a>)</li>
        <li><a href="https://fontawesome.com/">Font Awesome</a> (<a href="https://fontawesome.com/license/free">License</a>)</li>
        <li><a href="https://github.com/SixLabors/ImageSharp">ImageSharp</a> (<a href="https://github.com/SixLabors/ImageSharp/blob/master/LICENSE">Apache 2.0 License</a>)</li>
        <li><a href="https://web.archive.org/web/20210325170940/https://fancyapps.com/fancybox/3/">FancyBox</a> (<a href="https://web.archive.org/web/20210324234751/https://fancyapps.com/fancybox/3/">GPLv3 License</a>)</li>
        <li><a href="https://joshclose.github.io/CsvHelper/">CsvHelper</a> (<a href="https://github.com/JoshClose/CsvHelper/blob/master/LICENSE.txt">License</a>)</li>
        <li><a href="https://github.com/MindscapeHQ/raygun4net">Raygun4Net</a> (<a href="https://github.com/MindscapeHQ/raygun4net/blob/master/LICENSE">MIT License</a>)</li>
    </ul>
</details>

@section PageStyles {
    <style>
        .usa-content ul:not(.usa-accordion):not(.usa-accordion-bordered) { max-width: none; }
        details summary { cursor: pointer; }
        summary { display: list-item; }
        summary h2 { display: inline-block; margin-top: .5em; }
        summary::marker { font-size: 3rem; }
    </style>
}